$black: #000;
$white: #fff;
$primaryColor: #272381;
$secondaryColor: #880F50;
$buttonColor: #BFCE18;
$buttonSecondaryColor: #E92F32;
$bodyTextColor: #3C3C3D;
$newsTextColor: #686868;
$textBgColor: #F8F8F8;
$footerCopyColor: #191652;
$defaultColor: #585858;



