.privacy-policy {
    padding-top: 20px;

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        line-height: 1.3;

        a {
            color: $black;
        }

        b {
            font-family: 'Futura BT Bold';
        }
    }
}

.atome-product-note {
    font-size: 19px;
    margin-top: 10px;
    font-family: 'Futura Md BT';
}
