.product-category {
    &__battery {
        .category-block {
            margin-top: 15px;
            .content-block {
                h4 {
                    max-width: 95%;
                }
            }
        }
        .contentlast--block {
            margin-top: 15px;
            text-align: center;
            margin-bottom: 20px;
            .image-block {
                margin-top: 10%;
            }
            .content {
                margin-top: 10%;
                h3 {
                    font-family: 'Futura BT Bold';
                    font-size: 31px;
                    line-height: 1.1;
                    color: $dark-blue;
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.product-listing {
    &--big {
        margin-bottom: 30px;
        padding-top: 20px;
        border-top: 3px solid #D4ECFD;
        h2 {
            font-size: 59px;
            font-style: italic;
            line-height: 1.1;
            font-family: 'Futura Con EB';
            letter-spacing: 0.08rem;
            margin-bottom: 12px;
        }
        .listings {
            ul {
                padding-left: 52px;

                li {
                    font-size: 30px;
                    // font-weight: 900;
                    color: $dark-blue;
                    margin-bottom: 10px;
                    line-height: 1.2;
                    font-family: 'Futura BT Bold';
                }
            }
        }
    }
}
