.blower-main-product {
    padding: 20px 0;
    border-top: 3px solid $blue-border;

    .main-image {
        position: relative;
        max-width: 444px;

        .honda-icon {
            position: absolute;
            left: 10%;

            // width: 106*$vw;
            @include breakpoint (xs) {
                width: 60px;
            }
        }

        .comming-soon {
            position: absolute;
            background: $dark-red;
            color: #fff;
            padding: 5px 8px;
            font-size: 25px;
            text-transform: uppercase;
            font-family: 'Futura BdCn BT';
            line-height: 1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include breakpoint (xs) {
                font-size: 16px;
            }
        }
    }

    .main-content {
        @include breakpoint (sm1) {
            margin-top: 20px;
        }

        .price {
            &__level {
                background-color: $pricing-bg;
                display: inline-block;
                color: $dark-blue;
                padding: 8px 20px;
                line-height: 1;

                .aus {
                    font-size: 22px;
                    text-transform: uppercase;
                    position: relative;
                    bottom: 6px;
                }

                strong {
                    font-size: 30px;
                }

                .gst {
                    font-size: 18px;
                }
            }
        }

        h2 {
            font-family: 'Futura Md BT';
            font-style: italic;
            margin-bottom: 15px;
            width: 90%;

            @include breakpoint (sm1) {
                width: 100%;
            }

            sup {
                font-size: 16px;
                top: -0.75em;
            }
        }

        ul {
            margin: 0;
            margin-bottom: 20px;
            padding-left: 23px;

            li {
                font-size: 26px;
                line-height: 1.1;
                color: $dark-blue;
                font-family: 'Futura Md BT';
                margin-bottom: 5px;
            }
        }
    }
}

.blower-specification {
    // padding: 30px 0;
    margin-top: 30px;

    .row {
        @include breakpoint (md) {
            align-items: center;
        }
    }

    h2 {
        background: #cbe5f9;
        color: $dark-blue;
        padding: 10px 20px;
        font-size: 22px;
        font-family: 'Futura BT Bold';
    }

    ul {
        margin-bottom: 0;

        li {
            font-size: 18px;
            font-family: 'Futura Md BT';

            table {
                td {
                    vertical-align: top;
                    padding: 0;
                    padding-right: 5px;
                    border: none;
                }
            }
        }
    }


}

.blower-variable-product {
    padding-top: 0;

    .price-list {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                background: $golden-light-bg;
                padding: 15px 0;
                border-top: 1px solid $blue;

                @media(min-width: 768px) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &:last-child {
                    border-bottom: 1px solid $blue;
                }

                &:first-child {
                    // padding-top: 0;
                }

                .top-level {

                    color: $dark-blue;
                    margin-bottom: 10px;

                    @media(min-width: 768px) {
                        display: flex;
                        align-items: center;
                    }


                    .pricing {
                        display: flex;
                        background: $pricing-bg;
                        padding: 5px 15px;
                        align-items: center;
                        line-height: 1;
                        margin-right: 15px;
                        margin-right: 8px;
                        flex-wrap: wrap;

                        @media(max-width: 767px) {
                            margin-right: 0;
                            max-width: 240px;
                            margin-bottom: 10px;
                        }

                        .rpp {
                            font-size: 18px;
                        }
                    }

                    .price {
                        font-size: 30px;
                        // font-weight: 900;
                        margin-right: 15px;
                        font-family: 'Futura BT Bold';

                        @media(max-width: 991px) {
                            font-size: 20px;
                        }

                        .price-indicator {
                            // font-weight: 500;
                            font-style: 26px;
                            font-family: "Futura Book";
                        }
                    }

                    .only {
                        font-size: 25px;
                        font-family: 'Futura Md BT';
                        line-height: 1.2;
                    }
                }

                .content-block {
                    width: 100%;
                    max-width: 240px;
                    margin-left: 20px;
                    margin-left: 12px;

                    @media(max-width: 767px) {
                        margin-left: 0;
                    }
                }



                .add-to-cart {
                    display: block;
                    text-transform: uppercase;
                    font-size: 20px;
                    background: #ddf0fa;
                    border: 2px solid $blue;
                    border-radius: 30px;
                    color: $blue;
                    font-weight: 900;
                    letter-spacing: 0.05rem;
                    overflow: hidden;
                    padding: 5px 8px;
                    overflow: hidden;
                    line-height: 1;
                    position: relative;
                    text-indent: 50px;
                    max-width: 300px;
                    margin: 0 auto;
                    // margin-top: 10px;
                    text-align: center;

                    .cart-icon {
                        position: absolute;
                        left: 0;
                        // background: $blue;
                        width: 50px;
                        height: 100%;
                        top: 0;
                        text-align: center;
                        color: $white;
                        display: block;
                        text-indent: 0;
                        background: $blue url("../images/basket-trolly.png") no-repeat center;
                        background-size: 29px 23px;
                        color: transparent;
                        font-size: 0;
                    }
                }

            }
        }
    }

    .note {
        font-size: 21px;
        font-family: 'Futura Md BT';
        margin-top: 15px;
        line-height: 1.3;
    }
}

.attachments {
    background: #e6f5fc;
    padding: 15px;
    margin-top: 20px;

    h2 {
        font-family: 'Futura BT Bold';
        font-family: 'Futura XBlk BT';
        font-size: 21px;
        color: $dark-red;
        font-style: italic;

        span {
            font-family: 'Futura Md BT';
        }
    }

    &__blocks {
        text-align: center;

        .pricing {
            background: $pricing-bg;
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: left;
            font-weight: 600;
            color: $dark-blue;
            @include breakpoint (xs) {
                right: 0;
            }

            .price {
                text-align: right;
                font-size: 30px;
                font-weight: 700;
                line-height: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                padding-top: 10px;
                font-family: 'Futura BT Bold';
                letter-spacing: -0.09rem;
                padding-right: 5px;
                padding-left: 5px;

                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'Futura MdCn BT';
                    letter-spacing: 0;
                }
            }

            .rpp {
                padding: 5px 10px;
                padding-top: 0;
                line-height: 1;
                text-align: center;
                font-weight: 400;
                font-family: 'Futura MdCn BT';
            }

            .free-shipping {
                background: #203d89;
                color: white;
                text-align: center;
                text-transform: uppercase;
                padding: 2px 5px;
                line-height: 1;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Futura MdCn BT';
                letter-spacing: 0.02rem;

            }

            &-btm-right {
                bottom: 10px;
                top: auto;
                left: auto;
                right: 10px;
            }

        }

        .add-to-cart {
            display: block;
            text-transform: uppercase;
            font-size: 20px;
            background: $white !important;
            border: 2px solid $blue !important;
            border-radius: 30px !important;
            color: $blue !important;
            font-weight: 900;
            letter-spacing: 0.05rem;
            overflow: hidden !important;
            padding: 5px 8px;
            overflow: hidden;
            line-height: 1;
            position: relative;
            text-indent: 50px;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 10px;

            .cart-icon {
                position: absolute;
                left: 0;
                // background: $blue;
                width: 50px;
                height: 100%;
                top: 0;
                text-align: center;
                color: $white;
                display: block;
                text-indent: 0;
                background: $blue url("../images/basket-trolly.png") no-repeat center;
                background-size: 29px 23px;
                color: transparent;
                font-size: 0;
            }
        }

    }

    &--blower {
        .attachments {
            &__blocks {
                .pricing {
                    color: #122491;
                }
            }
        }
    }
}

.product-category__blower {
    .row {
        margin: 0 -10px;

        [class*="col-"] {
            padding: 0 10px;
        }
    }

    h2 {
        background: #cbe5f9;
        color: $dark-blue;
        padding: 10px 20px;
        font-size: 22px;
        font-family: 'Futura BT Bold';
        line-height: 1;
    }

    .category-block {
        margin-top: 15px;

        .image-block {
            padding: 20px 5px;
        }

        .content-block {
            h4 {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}

.av-table-block {
    margin-top: 20px;
    padding: 15px;
    background: #faebc0;

    h2 {
        color: $red-title;
        font-size: 24px;
        font-family: 'Futura BT Bold';

        span {
            display: block;
        }
    }

    .note {
        color: #334988;
        font-family: 'Futura Md BT', sans-serif;
        line-height: 1.35;

        p {
            margin: 0;
        }
    }

    table {
        font-family: 'Futura BT Bold';
        text-align: center;
        font-size: 13px;
        border: 1px solid #ffffc6;

        table {
            border: none;

            tbody {
                td {
                    font-size: 13px;
                    width: 120px;
                }
            }
        }

        td {
            padding: 8px 6px;
            vertical-align: middle;
        }

        thead {
            td {
                background: $dark-blue;
                background: #213e89;
                color: $white;
                line-height: 1.1;
                border-right: 2px solid #faebc0;

                &:first-child {
                    width: 110px;
                }

                &:nth-child(6) {
                    width: 110px;
                }

                &.three-col {
                    padding: 0;
                    border-right: none;

                    tr {
                        &:first-child {
                            td {
                                border-top: none;
                            }
                        }

                        td {
                            background: #213e89;
                            color: $white;
                            border-right: 2px solid #faebc0
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    td {
                        background: $white;
                        color: $red-title;
                    }
                }

                &:nth-child(even) {
                    td {
                        background: #edc3c3;
                        color: #213e89;
                    }
                }
            }

            td {
                font-size: 17px;
                line-height: 1.1;
                border-top: 2px solid #faebc0;
                border-right: 2px solid #213e89;

                &:last-child {
                    border-right: none;
                }

                &:nth-child(6) {
                    width: 90px;
                }
            }
        }
    }
}


.topquality_brand {
    background-color: #faeac0;
    padding: 20px;
    margin-top: 30px;
    font-size: 19px;

    .title {
        color: #811c3b;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .column {
        &__left {
            padding-right: 15px;
        }
    }
}
