.woocommerce-cart-form {
    table {
        &.cart {

            border-radius: 0;
            border: 2px solid #dff4fd;
            border-top: none;
            position: relative;
            color: $dark-blue;

            thead {
                display: none;

                th {
                    background: #dff4fd;
                    color: $dark-blue;
                    line-height: 1;
                }
            }

            tbody {
                tr {
                    &:last-child {
                        td {
                            border-top: none;
                        }
                    }
                }
            }

            td {
                border-top: 2px solid #dff4fd;
                padding: 10px;
                vertical-align: top;

                &.product-thumbnail {

                    width: 230px;

                    a {
                        background: #f2f8fd;
                        display: block;
                    }

                    img {
                        width: 230px;
                    }

                }

                &.product-quantity {
                    text-align: center;

                    .quantity-title {
                        display: block;
                        // margin: 0;
                        color: $dark-blue;
                        font-size: 18px;
                    }
                }
                &.product-subtotal {
                     text-align: right;

                     .title-subtitle {
                         display: block;
                         margin: 0;
                         color: $dark-blue;
                         font-size: 18px;
                     }
                }

                &.product-name {
                    a {
                        font-size: 19px;
                        color: $dark-blue;
                        max-width: 255px;
                        display: block;
                        line-height: 1.05;
                        letter-spacing: 0.02rem;
                    }
                }
                &.product-dealer {
                    a {
                        display: block;
                        background: #367bbc;
                        color: #fff;
                        border-radius: 10px;
                        padding: 10px;
                        width: 160px;
                        font-family: 'Futura BT Bold';
                        line-height: 1.3;
                    }
                }
                &.total {
                    text-align: right;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    label {
                        min-width: 150px;
                        font-size: 18px;
                        color: $dark-blue;
                        margin-right: 50*$vw;
                    }
                    .total-price {
                        font-family: 'Futura BT Bold';
                        font-size: 18px;
                        color: $dark-blue;
                    }
                }

                &.actions {
                    display: none;
                }

                .product-price {
                    font-size: 19px;
                    color: $dark-blue;
                    margin-top: 5px;

                    .woocommerce-Price-amount {
                        font-family: 'Futura BT Bold';
                    }
                }

                .product-remove {
                    margin-top: 120*$vw;
                    // margin-top: 15px;

                    a.remove {
                        height: auto;
                        width: auto;
                        text-align: center;
                        display: inline-block;
                        background: #dff4fd;
                        font-size: 17px;
                        font-weight: 400;
                        color: $dark-blue !important;
                        border-radius: 0;
                        padding: 8px 24px;
                        line-height: 1;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

.woocommerce-cart {
    .entry-header {
        h1 {
            &.entry-title {
                background: #203d89;
                color: #ffee54;
                text-transform: uppercase;
                margin-bottom: 0;
                position: relative;
                font-family: 'Futura BdCn BT';
                padding: 5px 10px;
                line-height: 1;
                display: flex;
                align-items: center;

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}


.card-accepts {
    &.justify-start {
        justify-content: flex-start;
        padding-top: 0;
    }
}

.related-purchase {
    margin-top: 15px;

    .inner-wrapper {
        max-width: 510px;

        .title {
            background: #cae5fa;
            padding: 10px 20px;
            color: $dark-blue;
            font-family: 'Futura BT Bold';
            line-height: 1;
        }

        .figure-block {
            padding: 20px 30px;
            border: 2px solid #cae5fa;

            .pricing {
                background: #ebd95a;
                text-align: left;
                font-weight: 600;
                color: $dark-blue;
                display: flex;
                align-items: flex-end;
                padding: 10px;

                @include breakpoint (xs) {
                    right: 0;
                }

                .price {
                    text-align: right;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 1;
                    display: flex;
                    font-family: 'Futura BT Bold';
                    letter-spacing: -0.09rem;
                    padding-right: 5px;
                    padding-left: 5px;
                    align-items: flex-end;

                    span {
                        display: block;
                        font-size: 18px;
                        font-weight: 400;
                        font-family: "Futura Book";
                        letter-spacing: 0;
                        margin-right: 5px;
                    }
                }

                .rpp {
                    padding-top: 0;
                    line-height: 1;
                    text-align: center;
                    font-weight: 400;
                    // font-family: 'Futura MdCn BT';
                    font-size: 16px;
                }


            }

            .add-to-cart {
                display: block;
                text-transform: uppercase;
                font-size: 20px;
                background: $dark-blue !important;
                border-radius: 0 !important;
                color: #ebd95a !important;
                font-weight: 900;
                overflow: hidden !important;
                padding: 12px;
                overflow: hidden;
                line-height: 1;
                position: relative;
                // text-indent: 50px;
                max-width: 300px;
                margin: 0 auto;
                text-align: center;

                .cart-icon {
                    position: absolute;
                    left: 0;
                    // background: $blue;
                    width: 50px;
                    height: 100%;
                    top: 0;
                    text-align: center;
                    color: $white;
                    display: block;
                    text-indent: 0;
                    background: $blue url("../images/basket-trolly.png") no-repeat center;
                    background-size: 29px 23px;
                    color: transparent;
                    font-size: 0;
                }
            }
        }
    }
}

.checkbox-options {
    h3 {
        font-size: 24px;
        color: $dark-blue;
        margin-bottom: 20px;
    }

    .form-check {
        margin-bottom: 20px;

        input[type="radio"] {
            position: absolute;
            opacity: 0;

            &:checked+label {
                &:after {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        label {
            color: $dark-blue;
            position: relative;
            padding-left: 40px;
            line-height: 35px;
            font-family: 'Futura Md BT';
            cursor: pointer;

            &:before {
                content: "";
                height: 35px;
                width: 35px;
                border: 2px solid #cae5fa;
                position: absolute;
                left: 0;
            }

            &:after {
                content: "";
                height: 35px;
                width: 35px;
                background: url('../images/checkbox.png') no-repeat center;
                transform: scale(0);
                opacity: 0;
                // transition: all 0.5s;
                position: absolute;
                left: 5px;
                bottom: 5px;
                background-size: 30px 30px;
                z-index: 10;
            }
        }
    }
}

.checkout-buttons {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 16px 0;

            a {
                display: block;
                text-align: center;
                padding: 10px;
                border-radius: 30px;
                border-radius: 30px;
                font-family: 'Futura BT Bold';
            }

            &.back-to-shop {
                a {
                    background: #cae5fa;
                    color: $dark-blue;

                }
            }

            &.checkout {
                a {
                    background: #43967c;
                    color: $white;
                    border: 1px solid $dark-blue;
                }
            }
        }
    }
}
