.contactform-section {
    padding-top: 55px;

    h2 {
        font-size: 27px;
        color: $lighten-blue;
        margin-bottom: 35px;
    }

    .address-area {
        max-width: 950px;

        
        margin-bottom: 30px;
        font-size: 22px;
        padding-bottom: 10px;

        @include breakpoint (lg) {
            margin-left: 50px;
            border-bottom: 2px solid #D4ECFD;
        }
        @media(max-width: 991px) {
            font-size: 18px;
        }

        .row {
            align-items: first baseline;
        }

        p {
            margin: 0;

            a {
                color: $black;
            }
        }

        .col-form-label {
            // font-size: 26px;
            // font-weight: 900;
            font-family: 'Futura BT Bold';

            @include breakpoint (lg) {
                font-size: 26px;
                text-align: right;
            }
            @media(max-width: 991px) {
                font-size: 18px;
            }
        }
    }

    .contact-form {
        @media(min-width: 992px) {
            max-width: 740px;
        }

        .gform_wrapper {
            .gform_validation_errors {
                display: none;
            }
            [id*="gform_fields_"] {
                .gfield_validation {
                    &_message {
                        padding: 0;
                        
                        border: none;
                        background-color: transparent;
                        @media(min-width: 992px) {
                            margin-left: 17.2%;
                        }
                    }
                }
                [id*="field_"] {
                    > .gfield_label {
                        &:after {
                            content: '*';
                            color: red;
                        }
                    }
                }
            }
            .gfield {
                display: flex;
                flex-wrap: wrap;
                margin-left: -5px;
                margin-right: -5px;
                .gfield_required {
                    display: block;
                    display: inline-block;
                }

                .gfield_label,
                .ginput_container {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .gfield_label {
                    font-size: 17px;

                    @include breakpoint (md) {
                        webkit-box-flex: 0;
                        -ms-flex: 0 0 16.66667%;
                        flex: 0 0 16.66667%;
                        max-width: 16.66667%;
                    }
                    .gfield_required {
                        &_text {
                            display: none;
                            
                        }
                    }
                }

                .ginput_container {
                    flex: 0 0 100%;
                    max-width: 100%;
                    @include breakpoint (md) {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 83.33333%;
                        flex: 0 0 83.33333%;
                        max-width: 83.33333%;
                    }
                }

                .large,
                .medium,
                .small {
                    height: 36px;
                    border: 2px solid $black;
                    border-radius: 0;
                    &:focus {
                        outline: none;
                        border-radius: 0;
                    }
                }

                textarea {
                    &.large,
                    &.medium,
                    &.small {
                        height: 200px;
                        border: 2px solid $black;
                        border-radius: 0 !important;
                    }
                }
            }

            .gform_footer {
                @media(min-width: 767px) {
                    text-align: right;
                }
                .gform_button {
                    min-width: 150px;
                    border-radius: 0;
                    text-transform: uppercase;
                    font-weight: 900;
                    background: #019979;
                    border: 2px solid #0e328a;
                    color: $white;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                }
                img {
                    &.gform_ajax_spinner {
                        position: absolute;
                    }
                }
            }
        }

        .form-group {
            margin-bottom: 22px;
        }

        .col-form-label {
            font-size: 17px;
        }

        .form-control {
            height: 36px;
            border: 2px solid $black;
            border-radius: 0;
        }

        textarea {
            &.form-control {
                height: 200px;
            }
        }

        .btn-success {
            min-width: 150px;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 900;
            background: #019979;
            border: 2px solid #0e328a;
        }
    }
}
