.devidery__return {
    padding: 25px 0;
    h1 {
        font-size: 33px;
        color: $lighten-blue;
        margin-bottom: 40px;
    }
    h2 {
        color: $lighten-blue;
        font-size: 23px;
        margin-bottom: 15px;
        font-family: 'Futura Md BT';
    }
    &--list {
        font-size: 20px;
        letter-spacing: 0.01rem;
        line-height: 1.3;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #D4ECFD;
        p {
            &:last-child {
                margin-bottom: 0;
            }
            a {
                text-decoration: underline;
                color: $lighten-blue;
            }
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
