.download-manual {
    padding: 30px 0 0 0;

    h1 {
        font-size: 33px;
    }

    h2 {
        &.black_color {
            font-size: 21px;
            color: $black;

            b,
            strong {
                font-family: 'Futura BT Bold';
            }
        }

        &.strong_dark_big {
            font-size: 30px;
            // font-weight: 900;
            color: $dark-blue;
            margin: 30px 0 20px 0;
            font-family: 'Futura BT Bold';
        }
    }

    p {
        font-size: 24px;
        margin-bottom: 0;
    }

    .table {
        font-size: 17px;
        color: #010101;
        line-height: 25px;
        margin-top: 5px;
        border: none;
        border: 2px solid #181818;
        border-bottom: 2px solid #181818;
        border-right: 2px solid #181818;

        thead {
            tr {
                th {
                    border: 2px solid #181818;
                    vertical-align: middle;

                    &.column-1 {
                        width: 77px;
                        font-weight: 400;
                    }

                    &.column-2 {
                        width: 72px;
                        font-weight: 400;
                    }

                    &.column-4,
                    &:last-child {
                        text-align: center;
                        background: #f1e8cb;
                    }
                }
            }
        }

        tr {
            &:first-child {
                td {
                    border-top: 2px solid #181818;
                }
            }

            td {
                border-left: 2px solid #181818;
                border-top: 1px solid #181818;
                // border: 2px solid #181818;
                padding: 10px;
                vertical-align: top;

                // vertical-align: middle;
                a {
                    color: $blue-light-title;
                }

                &:last-child {
                    // background: #f1e8cb;
                    // font-weight: 700;
                    // text-align: center;
                }

                &:nth-child(3),
                &:nth-of-type(4) {
                    // text-align: left;
                    // background: none;
                    // font-weight: 500;
                    background: #f1e8cb;
                    font-weight: 700;
                    text-align: center;
                }

                &.column-3 {
                    background: none !important;
                    text-align: left !important;
                    font-weight: 400;
                }

            }
        }

        &-1,
        &.tablepress-id-1 {
            tr {
                td {
                    &:nth-child(3) {
                        text-align: left;
                        background: none;
                        font-weight: 500;
                    }

                    &:nth-child(4) {
                        background: #f1e8cb;
                        font-weight: 700;
                        text-align: center;
                    }
                }
            }

        }

        &-2,
        &.tablepress-id-2 {
            tr {
                td {

                    &:nth-child(3) {
                        text-align: left;
                        background: none;
                        font-weight: 500;
                    }

                    &:last-child {
                        background: #f1e8cb;
                        font-weight: 700;
                        text-align: center;
                    }
                }
            }

        }


    }

    .tablepress-id-1,
    .tablepress-id-2 {
        thead {
            th {
                background: #fff;
                font-weight: 400;

                &.column-1,
                &.column-2 {
                    text-align: center;
                }

                &:last-child {
                    font-weight: 700;
                    width: 130px;
                }
            }
        }

        tbody {
            tr {
                td {

                    &.column-1,
                    &.column-2 {
                        text-align: center;
                    }
                }
            }
        }
    }

    .tablepress {
        thead {
            th {

                &:last-child {
                    font-weight: 700;
                    width: 130px;
                }
            }
        }

        tbody {
            tr {
                td {
                    &:last-child {
                        text-align: center;
                        background: #f1e8cb;
                        //  width: 130px;
                    }
                }
            }
        }

    }
}

.table-responsive {
    h2 {
        font-size: 28px;
        margin-bottom: 15px;
        // margin-top: 20px;
    }
}

.download-manual {
    .table {
        &.tablepress-id-3,
        &.tablepress-id-4,
        &.tablepress-id-5,
        &.tablepress-id-6,
        &.tablepress-id-7,
        &.tablepress-id-8,
        &.tablepress-id-9,
        &.tablepress-id-10,
        &.tablepress-id-11 {
            thead {
                tr {
                    th {
                        &.column-1 {
                            width: 77px;
                            background-color: $white;
                        }
                        &.column-2 {
                            width: auto;
                            background-color: $white;
                        }
                        &.column-3 {
                            text-align: center;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        &.column-3 {
                            text-align: center !important;
                            background: #f1e8cb !important;
                            // font-family: 'Futura Md BT';
                            font-weight: 700;
                            color: #007cc3;
                        }
                    }
                }
            }
        }
    }
}

.download-manual .tablepress-id-1 tr.row-2 td.column-1,
.download-manual .tablepress-id-1 tr.row-3 td.column-2,
.download-manual .tablepress-id-1 tr.row-3 td.column-3,
.download-manual .tablepress-id-1 tr.row-4 td.column-1,
.download-manual .tablepress-id-1 tr.row-12 td.column-2,
.download-manual .tablepress-id-1 tr.row-12 td.column-3,
.download-manual .tablepress-id-1 tr.row-13 td.column-1,
.download-manual .tablepress-id-1 tr.row-15 td.column-2,
.download-manual .tablepress-id-1 tr.row-15 td.column-3,
.download-manual .tablepress-id-2 tr.row-2 td.column-1,
.download-manual .tablepress-id-2 tr.row-2 td.column-1,
.download-manual .tablepress-id-2 tr.row-10 td.column-2,
.download-manual .tablepress-id-2 tr.row-10 td.column-3,
.download-manual .tablepress-id-2 tr.row-10 td.column-4,
.download-manual .tablepress-id-2 tr.row-11 td.column-1,
.download-manual .tablepress-id-2 tr.row-13 td.column-2,
.download-manual .tablepress-id-2 tr.row-13 td.column-3,
.download-manual .tablepress-id-2 tr.row-13 td.column-4 {
    border-bottom: 3px solid;
}

.tablepress-table-description {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}
