.edger-main-product {
    padding: 20px 0;
    border-top: 3px solid $blue-border;

    .main-image {
        position: relative;
        max-width: 444px;

        .logo {
            position: absolute;
            bottom: 20px;
            right: 20%;

            // width: 106*$vw;
            @include breakpoint (xs) {
                width: 60px;
            }
        }

        .new {
            position: absolute;
            top: 100px;
            left: 0;
            color: #ffffff;
            text-transform: uppercase;
            padding: 3px 6px;
            line-height: 1;
            font-family: 'Futura BdCn BT';
            font-size: 25px;
            width: 95px;
            text-align: center;

            &.red-bg {
                background: #eb242e;
            }
        }

    }

    .main-content {
        @include breakpoint (sm1) {
            margin-top: 20px;
        }

        .price {
            &__level {
                background-color: $pricing-bg;
                display: inline-block;
                color: $dark-blue;
                padding: 8px 20px;
                line-height: 1;

                .aus {
                    font-size: 22px;
                    text-transform: uppercase;
                    position: relative;
                    bottom: 6px;
                }

                strong {
                    font-size: 30px;
                }

                .gst {
                    font-size: 18px;
                }
            }
        }

        h2 {
            font-family: 'Futura Md BT';
            font-size: 30px;
            margin-bottom: 15px;
            // width: 90%;

            @include breakpoint (sm1) {
                width: 100%;
            }

            sup {
                font-size: 16px;
                top: -0.75em;
            }
        }

        ul {
            margin: 0;
            margin-bottom: 20px;
            padding-left: 23px;

            li {
                font-size: 22px;
                line-height: 1.1;
                color: $dark-blue;
                font-family: 'Futura Md BT';
                margin-bottom: 10px;
            }
        }
    }
}

.edger-specification {
    // padding: 30px 0;
    margin-top: 30px;

    .row {
        @include breakpoint (md) {
            align-items: center;
        }
    }

    h2 {
        background: #cbe5f9;
        color: $dark-blue;
        padding: 10px 20px;
        font-size: 22px;
        font-family: 'Futura BT Bold';
    }

    ul,
    ol {
        margin-bottom: 0;

        li {
            font-size: 18px;
            font-family: 'Futura Md BT';

        }
    }

    .specification-right {
        .text-block {
            &.text-block-blue-bg {

                background: #acdeff;
                border-radius: 6px;
                padding: 15px;
                text-transform: uppercase;
                font-family: 'Futura BT Bold';
                max-width: 320px;
                margin-top: 50px;
                margin-left: auto;

                p {
                    color: $dark-blue;
                    margin: 0;
                    line-height: 1.2;
                    font-size: 18px;
                }
            }
        }

    }


}

.edger-image-text {
    &-block {
        max-width: 320px;
        margin-top: 20px;

        .image-block {
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            &.center {
                justify-content: center;
            }
        }

        .text-block {
            font-family: 'Futura Md BT';
            font-size: 18px;

            &.text-block-blue-bg {
                background: #acdeff;
                border-radius: 6px;
                padding: 15px;
                text-transform: uppercase;
                font-family: 'Futura BT Bold';

                p {
                    color: $dark-blue;
                    margin: 0;
                    line-height: 1.2;
                }
            }
        }
    }

    &.has-border {
        .edger-image-text-block {
            border: 3px solid #1a3e8c;
            max-width: 310px;

            .image-block {
                margin-bottom: 10px;
                height: auto !important;

                img {
                    width: 100%;
                }

            }
        }

        .text-block {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;

            h4 {
                font-size: 20px;
                font-family: 'Futura BT Bold';
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }
}


.other-atom-products {
    border: 2px solid #d5ecfc;
    padding: 20px;
    margin-top: 20px;

    .row {
        margin: 0 -10px;

        [class*="col-"] {
            padding: 0 10px;
        }
    }

    h2 {
        // background: #cbe5f9;
        // padding: 10px 20px;
        color: $dark-blue;
        font-size: 22px;
        font-family: 'Futura BT Bold';

    }

    .category-block {
        text-align: center;
        box-shadow: 1px 1px 0px #d2d4d3;
        margin-top: 20px;

        .image-block {
            background: #f0f9ff;
            position: relative;
        }

        .content-block {
            background: #127ebf;

            h4 {
                font-size: 17px;
                margin: 0;

                a {
                    color: $white;
                    display: block;
                    line-height: 1.1;
                    font-family: 'Futura BT Bold';
                    padding: 10px 0;
                }
            }
        }

        .pricing {
            background: $pricing-bg;
            position: absolute;
            top: 4px;
            left: 4px;
            text-align: left;
            font-weight: 600;
            color: $dark-blue;

            .price {
                text-align: right;
                font-size: 30px;
                font-weight: 700;
                line-height: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                padding-top: 10px;
                font-family: 'Futura BT Bold';
                letter-spacing: -0.09rem;
                padding-right: 5px;
                padding-left: 5px;

                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: 'Futura MdCn BT';
                    letter-spacing: 0;
                }
            }

            .rpp {
                padding: 5px 10px;
                padding-top: 0;
                line-height: 1;
                text-align: center;
                font-weight: 400;
                font-family: 'Futura MdCn BT';
            }

            .free-shipping {
                background: #203d89;
                color: white;
                text-align: center;
                text-transform: uppercase;
                padding: 2px 5px;
                line-height: 1;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Futura MdCn BT';
                letter-spacing: 0.02rem;

            }

            &-btm-right {
                bottom: 10px;
                top: auto;
                left: auto;
                right: 10px;
            }

        }

        .sample-sticker {
            position: absolute;
            right: 20px;
            bottom: 20px;
            max-width: 90px;
        }

        .new {
            position: absolute;
            top: 100px;
            left: 4px;
            background: #0f66fa;
            color: #ffffff;
            text-transform: uppercase;
            padding: 3px 6px;
            line-height: 1;
            font-family: 'Futura BdCn BT';
            font-size: 19px;
            width: 83px;

            &.red-bg {
                background: #eb242e;
            }
        }

        .machine-skin {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background: #a80d15;
            color: #ffffff;
            text-transform: uppercase;
            padding: 3px 6px;
            line-height: 1;
            font-family: 'Futura BdCn BT';
            font-size: 19px;
            width: 80px;

            &.blue-bg {
                background: #2861e5;
            }
        }


    }


}

.edger-product-video-block {
    margin-top: 25px;

    .image-block {
        text-align: center;
    }
}
