.engine-drill-video-block {
    .red-title {
        font-size: 50px;
        line-height: 0.95;
        font-family: 'Futura XBlk BT';
        @include breakpoint (xs) {
            font-size: 54px;
        }
    }
}

.engine-drill-listing {
    .row {
        @include breakpoint (md) {
            align-items: center;
        }
    }

    ul {
        li {
            font-size: 42px;
            font-style: italic;
            font-family: 'Futura Con EB';
            @include breakpoint (xs) {
                font-size: 28px;
            }

            &:first-child {
                color: $red-title;
            }
        }
    }
}

.full-image {
    margin-bottom: 20px;
}

.product-category {
    .inner-product-row {
        margin-left: -1px;
        margin-right: -1px;

        [class*="col-"] {
            padding-left: 1px;
            padding-right: 1px;
        }
    }
}

.atom-product-important {
    background: $golden-light-bg;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: $blue;
    border: 2px solid $blue;
    margin-top: 20px;
    font-family: 'Futura BT Bold';
}

.engine-drill-two-col {
    margin-top: 20px;

    .content-block {
        ol {
            margin-left: 0;
            padding-left: 17px;
        }

        li,
        p {
            font-size: 17px;
            line-height: 1.4;
            margin-bottom: 16px;
        }
    }
}

.product-engine-drill {

    .category-block {
        h3 {
            font-size: 30px;
        }

        .inner-block {
            .image-block {
                padding-bottom: 40px;
            }
            .pricing-btm-right {

                max-width: 113px;
                // position: static;
                // margin-bottom: 10px;
                // margin-right: 10px;
                // margin-left: auto;
                // margin-top: -20px;
            }
        }

        &.category-augers {
            border: none;
            box-shadow: 2px 2px 0px #dadbdd;
            @include breakpoint (sm1) {
                margin-top: 30px;
            }

            h3 {
                background: #cbe5f9;
                color: #334988;
                font-size: 32px;
                text-transform: none;
            }

            .inner-block {
                background: #f1f9ff;

                p {
                    font-size: 19px;
                    letter-spacing: 0.03rem;
                    padding: 0 15px;
                    text-align: left;
                    padding-top: 15px;
                    margin: 0;
                }
                .image-block {
                    margin-bottom: 30px;
                }
                .content-block {
                    background: #347cbc;
                    padding: 18px 5px;
                    h4 {
                        max-width: 100%;
                        max-width: 90%;
                        font-family: 'Futura BdCn BT';
                        font-size: 30px;
                        a {
                            font-size: 25px;
                            color: $white;
                        }
                    }
                }
            }
        }

    }
}

.variable-product{
    &.product-category--blower {
        .row-block {
            .category-blocks {
                border-right: none;
            }
        }
    }
}
