.section-error {
    background-color: #000000;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    .error {
        &__content {
            .btn-text {
                background-color: #A2A8AD;
                display: inline-block;
                text-transform: uppercase;
                margin-top: 15px;
                position: relative;
                padding: 4px 40px;
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 30px solid transparent;
                    border-right: 30px solid transparent;
                    border-bottom: 30px solid black;
                    position: absolute;
                    left: -28px;
                    transform: rotate(-45deg);
                    top: -5px;
                }
            }
        }
    }
}