.final-blower-product {
    .video-block {
        .row {
            @media(min-width: 992px) {
                align-items: flex-end;
            }
        }
        .red-title {
            @media(min-width: 992px) {
                margin-bottom: 0;
            }
        }
    }
    .image-block--blower {
        .title {
            font-family: 'Futura Con EB';
            color: #da3931;
            font-size: 41.94px;
            font-style: italic;
            line-height: 49.93px;
            margin-bottom: 10px;
        }
        .image-wrap {
            margin-bottom: 20px;
        }
    }
    .blue-bar {
        background-color: #dbf1fd;
        color: #347bbd;
        margin-bottom: 20px;
        padding: 5px 20px;
        text-align: center;
        font-size: 40px;
        line-height: 1.2;
        font-family: 'Futura Md BT';
        font-style: italic;
    }
}

.product-category {
    &--blower {

        .row-block {
            margin-left: -5px;
            margin-right: -5px;

            >[class*="col-"] {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .category-blocks {
            @media(max-width: 991px) {
                border: 2px solid #203d89;
                margin-bottom: 20px;
            }
            &.flex-end {
                @media(min-width: 992px) {
                    display: flex;
                    height: 100%;
                    align-items: flex-end;
                    position: relative;
                }
                .inner-block {
                    position: static;
                }
                .sub-info {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    @include breakpoint (xs) {
                        position: static;
                    }
                }
            }
        }
        .category-block {
            @media(max-width: 991px) {
                border: none;
            }

            .inner-product-row {
                [class*="col-"] {
                    &:not(:last-child) {
                        @media(max-width: 991px) {
                            // margin-bottom: 20px;
                        }
                    }

                    .category-blocks {
                        @media(max-width: 991px) {
                            border: 4px solid #203d89;
                        }
                    }
                }
            }

            h3 {
                @media(min-width: 1200px) {
                    font-size: 30px;
                }
            }

            .sub-info {
                background-color: #dbf1fd;
                color: #347bbd;
                font-size: 18px;
                text-transform: uppercase;
                font-family: 'Futura BT Bold';
                padding: 8px;
            }

            .image-block {
                .pricing {
                    color: #203d89;

                    .price {
                        font-size: 20px;
                        font-family: 'Futura Md BT';
                        text-align: left;
                        justify-content: flex-start;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                .sample-sticker {
                    position: absolute;
                }
            }
            .info {
                font-size: 20px;
                line-height: 1.3;
                margin-bottom: 10px;
                margin-top: 10px;
                color: #1f3c88;
            }
        }

        .only-australianBlock {
            display: flex;
            align-items: center;
            height: 100%;

            .category-block {
                height: 100%;
                width: 100%;

                .inner-product-row {
                    height: calc(100% - 90px);

                    .category-blocks {
                        padding: 30px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
