.auger-page {
    .video-block {
        .row {
            @media(min-width: 992px) {
                align-items: flex-start;
            }

            &:first-child {
                [class*="col-"] {
                    margin-top: 30px;
                }
            }
        }

        .embed-responsive {
            @include breakpoint (xs) {
                margin: 20px 0;
            }
        }

        .red-title {
            color: #d83a33;
            // font-size: 74px;
            font-family: 'Futura Con EB';
            letter-spacing: -2px;

            @include breakpoint (xs) {
                font-size: 54px;
            }

            span {
                display: block;
                font-size: 37.32px;
            }
        }
    }

    .auger-DrillingWood {
        .title-bar {
            h2 {
                color: #1a3e8c;
                font-size: 50px;
                font-family: 'Futura Con EB';
                font-style: italic;
            }
        }

        .drill {
            &__left {
                .image {
                    margin-bottom: 24px;
                }
            }

            &__right {
                .image {
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }

                .title {
                    color: #1a3e8c;
                    font-size: 56.38px;
                    font-family: 'Futura Con EB';
                    font-style: italic;
                    text-align: center;
                    line-height: 1;
                    margin: 10px 0;
                }
            }
        }
    }

    .auger-list {
        font-size: 20.33px;
        font-family: 'Futura Md BT';
        padding-top: 20px;

        p {
            margin-bottom: 10px;
        }

        ul {
            padding-left: 22px;
            margin-bottom: 10px;

            li {
                list-style: none;
                position: relative;
                padding-left: 20px;

                &:before {
                    content: '-';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

.table {
    &-chart {
        .table {
            font-family: 'Futura BT Bold';
            font-size: 20px;
            margin-top: 20px;

            @media(max-width: 991px) {
                font-size: 16px;
            }

            thead {
                th {
                    background-color: #cae5f8;
                    color: #0e388b;
                    border: none;
                    vertical-align: middle;
                    font-family: 'Futura Lt BT';
                    padding-left: 0;
                    padding-right: 0;

                    strong {
                        font-size: 20px;
                        font-family: 'Futura BT Bold';
                    }

                    &:nth-child(1) {
                        text-align: center;
                    }
                }
            }

            tbody {

                th,
                td {
                    background-color: #cae5f8;
                    background: #eef7fe;
                    color: #146bc7;
                    border: 5px solid #fff;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-family: 'Futura Lt BT';
                    font-weight: 600;

                    .add-to-cart {
                        background: none;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-size: 25px;
                        border: 2px solid #357dbd;
                        border-radius: 30px;
                        color: #2d77c2;
                        color: #357cbd;
                        font-weight: 900;
                        letter-spacing: 0.05rem;
                        overflow: hidden;
                        padding: 8px 20px;
                        overflow: hidden;
                        line-height: 1;
                        position: relative;
                        text-indent: 50px;
                        text-align: center;
                        width: 100%;
                        font-family: 'Futura BT Bold';
                        letter-spacing: 0.07rem;
                        @include breakpoint (xs) {
                            font-size: 15px;
                        }

                        .cart-icon {
                            position: absolute;
                            left: 0;
                            width: 50px;
                            height: 100%;
                            top: 0;
                            text-align: center;
                            color: #ffffff;
                            display: block;
                            text-indent: 0;
                            background: #357dbd url(' ../images/basket-trolly.png') no-repeat center;
                            background-size: 29px 23px;
                            color: transparent;
                            font-size: 0
                        }
                    }
                }

                th {
                    border-left: none;
                    min-width: 110px;
                }

                td {
                    strong {
                        font-size: 24px;
                    }

                    &:nth-child(2) {
                        border-right: none;
                        min-width: 570px;
                        min-width: 450px;

                        @media(max-width: 991px) {
                            min-width: 300px;
                        }
                    }

                    &:nth-child(3) {
                        background-color: #eada4d;
                        color: #0e388b;
                        border-left: none;
                        min-width: 107px;
                    }

                    &:last-child {
                        background-color: $white;
                        border-right: none;
                        padding-left: 5px;
                        padding-right: 0;
                        padding-top: 0;
                        padding-bottom: 0;

                        min-width: 360px;

                        @media(max-width: 991px) {
                            min-width: 260px;
                        }
                    }
                }
            }
        }
    }
}

.box__content {
    margin-top: 20px;

    &--red {
        h3 {
            background-color: #e7e3ce;
            color: #822635;
            border: 2px solid #822635;
            text-transform: uppercase;
            font-family: 'Futura BT Bold';
            font-size: 27.1px;
            padding: 12px 20px;
            margin: 0;
            letter-spacing: -0.06rem;
        }
    }
}

.product-category {
    &--auger {
        .row-block {
            margin-left: -5px;
            margin-right: -5px;

            >[class*="col-"] {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .category-block {
            @media(max-width: 991px) {
                border: none;
            }

            .inner-product-row {
                [class*="col-"] {
                    &:not(:last-child) {
                        @media(max-width: 991px) {
                            margin-bottom: 20px;
                        }
                    }

                    .category-blocks {
                        @media(max-width: 991px) {
                            border: 4px solid #203d89;
                        }
                    }
                }
            }

            h3 {
                @media(min-width: 1200px) {
                    font-size: 29px;
                }
            }

            .sub-info {
                background-color: #dbf1fd;
                color: #347bbd;
                font-size: 18px;
                text-transform: uppercase;
                font-family: 'Futura BT Bold';
                padding: 8px;
            }

            .image-block {
                .pricing {
                    color: #203d89;
                    bottom: 10px;
                    top: auto;
                    left: auto;
                    right: 10px;

                    .price {
                        font-size: 23px;
                        text-align: left;
                        justify-content: flex-start;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                .sample-sticker {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    right: auto;
                    bottom: auto;
                }
            }
        }

        .only-australianBlock {
            display: flex;
            align-items: center;
            height: 100%;

            .category-block {
                height: 100%;
                width: 100%;

                .inner-product-row {
                    height: calc(100% - 90px);

                    .category-blocks {
                        padding: 30px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: none;
                        @include breakpoint (sm1) {
                            border-right: 4px solid $dark-blue;

                        }
                    }
                }
            }
        }
    }
}

.auger-drilling-wood {
    .title-bar {
        h2 {
            color: #1a3e8c;
            font-family: 'Futura Con EB';
            font-size: 50px;
            font-style: italic;
        }
    }

    .drill__left {
        .image {
            margin-bottom: 20px;
        }
    }

    .drill__right {
        text-align: center;

        .title {
            color: #1a3e8c;
            font-family: 'Futura Con EB';
            font-size: 56px;
            // text-align: center;
            line-height: 0.9;
            font-style: italic;
            @include breakpoint (sm1) {
                font-size: 40px;
                margin: 20px 0;
            }
        }
    }
}

.auger-page {
    .golden-light-bg {
        .right-block {
            h4 {
                color: #822535;
            }
        }
    }
}

.specification--augers {
    ul {
        margin-top: 20px;

        li {
            font-size: 22px;
            font-family: 'Futura BT Bold';
            color: #203d89;
        }
    }
}


.product-category {
    &--auger {
        .category-block {
            .inner-product-row {
                [class*="col-"] {

                    // &:not(:last-child) {
                    //     .category-blocks {
                    //         border-right: 4px solid $dark-blue;
                    //     }
                    // }
                    &:last-child {
                        .category-blocks {
                           @include breakpoint (md) {
                                border-right: none;
                           }
                        }
                    }
                }
            }
        }
    }
}
