.section-history {
    .title-block {
        padding-top: 25px;

        .row {
            align-items: flex-end;
        }

        h1 {
            color: $blue-light-title;
            font-size: 33px;
            margin-bottom: 20px;
            line-height: 1;
        }

        h2 {
            font-size: 23px;
            color: $blue-light-title;
            margin-bottom: 20px;
        }

        .image-block {
            text-align: center;

            img {
                max-width: 140px;
            }
        }
    }
}

.history__columns {
    .row {
        margin-left: -15px;
        margin-right: -15px;

        [class*="col-"] {
            padding: 0 15px;
        }
    }

    &__block {
        margin-bottom: 15px;

        .image-block {
            margin-bottom: 5px;


            img {
                width: 100%;
            }
        }

        .content-block {
            line-height: 1.5;
            color: $blue-light-text;
        }
    }
}

.history-content-block {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $blue-border;

    p {
        margin-bottom: 0;

        &:last-child {}
    }
}

.history-block-list {
     font-size: 20px;
     line-height: 1.3;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $blue-border;
    p {
        margin-bottom: 0;
        b,strong {
            font-family: 'Futura BT Bold';
        }
        em {
            font-family: 'Futura BT Bold Italic';
        }
    }
    ul {
        padding-left: 30px;
        margin: 5px 0;
        li {
            font-size: 16px;
            font-weight: 500;
            margin: 5px 0;
        }
    }

    h2 {
        color: #107fc3;
        font-size: 24px;
        // font-weight: 900;
        font-family: 'Futura BT Bold';
    }

    .row {
        [class*="col-"] {}

        .col-lg-8 {
            @include breakpoint (md) {
                -ms-flex: 0 0 70%;
                flex: 0 0 70%;
                max-width: 70%;
            }
        }

        .col-lg-4 {
            @include breakpoint (md) {
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                max-width: 30%;
            }
        }

        .left-block {
            font-size: 20px;
            line-height: 1.3;
            @include breakpoint (md) {
                padding-right: 60px;
            }

            p {
                margin-bottom: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .image-block {
            margin-bottom: 15px;
            margin-top: 10px;

            img {
                width: 100%;
            }

            .caption {
                color: $blue-light-text;
                font-size: 15px;
                margin-top: 5px;
            }
        }
    }
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
}
