.header-slogan {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .row {
        @include breakpoint (md) {
            align-items: center;
        }
    }

    .icon-block {
        @include breakpoint (sm) {
            max-width: 20%;
            flex: 0 0 20%;
        }
    }

    .slogan-block {
        @include breakpoint (sm) {
            max-width: 80%;
            flex: 0 0 80%;

        }

        @include breakpoint (sm) {
            @include breakpoint (sm1) {
                padding-left: 20px;
            }
        }

        h1 {
            br {
                @include breakpoint (sm1) {
                    display: none;
                }
            }

            img {
                max-height: 23px;
            }

            color: $title-color;
            font-size: 27px;
            font-family: 'Futura BT Bold';
            font-style: italic;
        }
    }
}

.product {
    [class*="col-"] {
        @include breakpoint (sm) {
            @include breakpoint (sm1) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    &__block {
        text-align: center;
        margin-bottom: 10px;

        .image-block {
            overflow: hidden;

            img {
                @include transition (all 3s);
                width: 100%;
            }

            &:hover {
                img {
                    @include transform(scale(1.3));
                }
            }
        }

        .content-block {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#103c93+0,2c73c2+100 */
            background: #103c93;
            /* Old browsers */
            background: -moz-linear-gradient(left, #103c93 0%, #2c73c2 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #103c93 0%, #2c73c2 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #103c93 0%, #2c73c2 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103c93', endColorstr='#2c73c2', GradientType=1);
            /* IE6-9 */
            padding: 10px;

        }

        h3 {
            font-size: 30px;
            color: $white;
            margin: 0;
            // font-family: 'Futura Hv BT';
            font-family: 'Futura Book Medium';
            line-height: 1;

            a {
                color: $white;
                display: block;
            }

            span {
                display: block;
                font-size: 22px;
                // font-family: 'Futura Md BT';
                line-height: 1.3;
                margin-top: 10px;
            }
        }
    }
}

.golden-light-bg {
    background: $golden-light-bg;
    padding: 15px;

    .left-block {
        .add-to-cart {
            background-color: #ddf0fa;
            display: inline-block;
            text-transform: uppercase;
            font-size: 20px;
            border: 2px solid $blue;
            border-radius: 30px;
            color: #2d77c2;
            font-weight: 900;
            letter-spacing: 0.05rem;
            overflow: hidden;
            padding: 8px 20px;
            overflow: hidden;
            line-height: 1;
            position: relative;
            text-indent: 50px;

            .cart-icon {
                position: absolute;
                left: 0;
                width: 50px;
                height: 100%;
                top: 0;
                text-align: center;
                color: #ffffff;
                display: block;
                text-indent: 0;
                background: $blue url('../images/basket-trolly.png') no-repeat center;
                background-size: 29px 23px;
                color: transparent;
                font-size: 0;
            }
        }

        h2 {
            color: $dark-blue;
            color: #181a5d;
            font-style: italic;
            font-weight: 900;
            text-shadow: 2px 2px 0px #f1de44;
            align-items: center;
            font-family: 'Futura BdCn BT';
            font-size: 40px;

            @include breakpoint (sm) {
                display: flex;

            }

            a {
                display: inline-block;
                background: $blue;
                border-radius: 30px;
                padding: 9px 20px;
                line-height: 1;
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
                color: #fff;
                text-shadow: none;
                font-family: 'Futura BT Bold';
                position: relative;
                display: flex;
                align-items: center;
                @include breakpoint (sm) {
                    margin-left: 20px;
                }
                @include breakpoint (xs) {
                    max-width: 220px;
                    justify-content: center;
                }

                &:before {
                    content: "";
                    background: url("../images/pin.png") no-repeat center;

                    height: 20px;
                    width: 20px;
                    display: inline-block;
                    background-size: contain;
                    // position: absolute;
                    left: 0;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        p {
            font-size: 17.5px;
        }

        width: 90%;
    }

    .right-block {
        width: 90%;

        h3 {
            &.blue {
                color: $blue;
                font-size: 29px;
                // font-weight: 900;
                margin-bottom: 20px;
                font-family: Futura BT Bold;
            }

            &.red {
                color: $dark-red;
                font-size: 24px;
                // font-style: italic;
                // font-weight: 900;
                font-family: 'Futura BT Bold';
                font-style: italic;
            }
        }

        p {
            font-size: 21px;
            line-height: 1.2;
        }

        h4 {
            font-size: 21px;
            // font-weight: 900;
            // font-style: italic;
            font-family: 'Futura BT Bold';
            font-style: italic;
        }

    }
}

.ausstralian-made {
    font-size: 22px;
    .row {
        margin: 0 -10px;

        [class*="col-"] {
            padding: 10px;
        }

        .col-md-5 {
            @include breakpoint (md) {
                max-width: 38%;
                flex: 0 0 38%;
            }

            font-size: 22px;

            p {
                line-height: 1.32;
                margin: 0;

                b {
                    font-weight: 900;
                }
            }
        }

        .col-md-2 {
            @include breakpoint (md) {
                max-width: 24%;
                flex: 0 0 24%;
            }

            img {
                display: block;
                // margin: 0 auto;
            }
        }
    }
}

.blue-box {
    background: #215eb0;
    padding: 10px 20px;
    margin-top: 10px;
    color: $white;
    font-size: 21px;
    letter-spacing: 0.05rem;

    p {
        max-width: 95%;
        margin: 0 auto;
    }

    b {
        // font-weight: 900;
        font-family: 'Futura BT Bold';
    }
}

.light-blue-box {
    background: #ddf0fa;
    margin-top: 10px;
    padding: 15px;
    letter-spacing: 0.03rem;

    h3 {
        font-weight: 900;
        font-size: 21px;
        font-family: 'Futura BT Bold';
        color: $black;
    }

}
