.information-page {
    padding: 20px 0;
    font-family: 'Futura Md BT';
    h1 {
        font-size: 29px;
        font-family: "Futura Book";
    }
}
.terms-of-warning {
    margin-bottom: 30px;
    h3 {
        color: $black;
        margin-bottom: 20px;

    }
    p {
        font-size: 20px;
        line-height: 1;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
.yellow-bg {
    background: #ebda08;
}
.warning-block {
    padding: 20px;
    font-size: 20px;
    line-height: 1.2;
    img {
        display: block;
        margin-left: auto;
        margin-right: 70px;
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 0;
    }
}

.warning-red {
    color: #972b2a;
    font-size: 17px;
    margin-bottom: 30px;
}

.warning-title {
    margin-bottom: 20px;
    margin-top: 25px;
    h2 {
        background: #77B9E0;
        padding: 10px 20px;
        color: $white;
        // font-weight: 900;
        text-align: center;
        margin: 0;
        font-size: 24px;
        font-family: "Futura Book";
    }
}
