.product-drill,
.product-tiller {
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 3px solid $blue-border;

    .main-image {
        position: relative;
        @media(max-width: 991px) {
            margin-bottom: 30px;
        }
        .img-icon {
            position: absolute;
            left: 10%;
            top: 20%;
            z-index: 5;
        }
    }

    .main-content {
        h2 {
            font-family: 'Futura Md BT';
            margin-bottom: 15px;
            font-size: 29.2px;
            line-height: 30.74px;

            sup {
                font-size: 16px;
                top: -0.75em;
            }
        }

        ul {
            padding-left: 23px;

            li {
                font-size: 26px;
                line-height: 1.3;
                color: $dark-blue;
                font-family: 'Futura Md BT';
                margin-bottom: 5px;
                sup {
                    font-size: 18px;
                }
            }
        }
        .price {
            &__level {
                background-color: $pricing-bg;
                display: inline-block;
                color: #1c2870;
                padding: 8px 20px;
                line-height: 1;
                .aus {
                    font-size: 22px;
                    text-transform: uppercase;
                    top: -5px;
                    position: relative;
                }
                strong {
                    font-size: 30px;
                }
                .gst {
                    font-size: 18px;
                }
            }
        }
    }
}
.driller-page {
    .golden-drill {
        margin-bottom: 30px;
        padding-top: 22px;
        .left-block {
            h2 {
                a {
                    padding: 9px 25px;
                }
            }
        }
        .right-block {
            h3 {
                .blue {
                    margin-bottom: 24px;
                }
            }
            p {
                margin-bottom: 30px;
            }
        }
        .add-to-cart {
            background-color: #ddf0fa;
            display: inline-block;
            text-transform: uppercase;
            font-size: 20px;
            border: 2px solid $blue;
            border-radius: 30px;
            color: #2d77c2;
            font-weight: 900;
            letter-spacing: 0.05rem;
            overflow: hidden;
            padding: 8px 20px;
            overflow: hidden;
            line-height: 1;
            position: relative;
            text-indent: 50px;

            .cart-icon {
                position: absolute;
                left: 0;
                width: 50px;
                height: 100%;
                top: 0;
                text-align: center;
                color: #ffffff;
                display: block;
                text-indent: 0;
                background: $blue url(../images/basket-trolly.png) no-repeat center;
                background-size: 29px 23px;
                color: transparent;
                font-size: 0;
            }
        }
    }
}