.product-category {
    .category-block {
        .inner-block {
            .image-block {
                .comingsoon {
                    background: #a80d15;
                    color: #ffffff;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-weight: 600;
                    z-index: 5;
                    width: 100px;
                    text-align: center;
                    line-height: 1.1;
                    padding: 10px;
                    text-transform: uppercase;
                    font-size: 18px;

                    &:after {
                        content: '*';
                        position: absolute;
                        right: -12px;
                        color: #000;
                        top: 0;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }

        }
    }

    &--tiller {
        .row {
            margin: 0 -10px;

            [class*="col-"] {
                padding: 0 10px;
            }
        }

        h2 {
            background: #cbe5f9;
            color: $dark-blue;
            padding: 10px 20px;
            font-size: 22px;
            font-family: 'Futura BT Bold';
            line-height: 1;
        }

        .category-block {
            margin-top: 15px;

            h3 {
                @media(min-width: 1200px) {
                    font-size: 30px;
                }
            }

            &.logo-only {
                border: none;
                height: calc(100% - 15px);
                display: flex;
                align-items: center;
            }

            .image-block {
                padding:5px;

                .pricing {
                    color: $dark-blue;
                }
                .icon-honda {
                    position: absolute;
                    bottom: 10px;
                    left: 35.5%;
                    z-index: 5;
                }
            }
            .content-block {
                h4 {
                    max-width: 100%;
                }
            }
        }
    }
}