.testimonial-headingblock {
    padding: 35px 0;
    h1 {
        background: $dark-blue;
        color: $white;
        font-weight: 900;
        font-style: italic;
        font-size: 28px;
        font-family: 'Futura XBlk BT';
        padding: 10px 20px;
        margin-bottom: 15px;
    }
    p {
        font-size: 18px;
        padding-left: 50px;
        position: relative;
        span {
            position: absolute;
            left: 0;
        }
        @include breakpoint (sm1) {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.testimonial {
    &__block {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $blue-border;
        // font-style: italic;
        // font-weight: 500;
        &:last-child {
            border-bottom: none;
            padding-bottom: 15px;
            margin-bottom: 0;
        }
        h2 {
            color: $blue-type-1;
            font-size: 30px;
            margin-bottom: 20px;
            font-family: 'Futura Md BT';
            font-style: italic;
        }
    }
    &__image {
        margin-bottom: 20px;
    }
    &__content {
        font-family: $testimonial-font;
        font-size: 22px;
        letter-spacing: 0.01rem;
        line-height: 1.2;

        p {
            margin: 0;
            text-indent: 40px;
            &:nth-of-type(1) {
                text-indent: 0;
            }
            .spacer {
                display: inline-block;
                width: 40px;
            }
        }
    }
}
