.tiller-category  {
    .category {
        &-block {
            margin-bottom: 20px;
        }
    }
}

.variable-product {
    &--list {
        margin-top: 0;
        .row {
            margin-left: -5px;
            margin-right: -5px;
            [class*="col-"] {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .category-blocks {
            border-right: none;
            .image-block {
                .shipingTag {
                    position: absolute;
                    bottom: auto;
                    top: 10px;
                    left: 10px;
                    width: 100px;
                    background-color: $dark-blue;;
                    color: $white;
                    text-transform: uppercase;
                    line-height: 1.2;
                    padding: 5px;
                    z-index: 10;
                    font-family: 'Futura BdCn BT';
                    font-size: 22px;
                }
            }
            .content-block {
                border-bottom: 2px solid $title-color;
            }
        }
        .right-block {
            .price-list {
                @media(max-width: 575px) {
                    text-align: center;
                }
                ul {
                    li {
                        background-color: $sky-blue;
                        &:not(:last-child) {
                            border-bottom: 2px solid $title-color;
                        }
                    }
                }
                .title {
                    h4 {
                        font-size: 21px;
                        text-align: center;
                        color: #147ec0;
                        font-family: 'Futura BT Bold';
                        text-transform: uppercase;
                    }
                }
                .priceTag {
                    background-color: #e6d137;
                    font-size: 20px;
                    padding: 0 10px;
                    color: #1f3b89;
                    line-height: 1.2;
                    @media(max-width: 575px) {
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                    strong {
                        font-size: 34.11px;
                    }
                }
                .addTo-cart {
                    .add-to-cart {
                        display: block;
                        text-transform: uppercase;
                        font-size: 22px;
                        background: $white;
                        border: 2px solid $blue;
                        border-radius: 30px;
                        color: $blue;
                        font-weight: 900;
                        letter-spacing: 0.05rem;
                        overflow: hidden;
                        padding: 8px 8px;
                        overflow: hidden;
                        line-height: 1;
                        position: relative;
                        text-indent: 50px;
                        font-family: 'Futura BT Bold';
                        @media(max-width: 575px) {
                            display: inline-block;
                        }

                        .cart-icon {
                            position: absolute;
                            left: 0;
                            width: 50px;
                            height: 100%;
                            top: 0;
                            text-align: center;
                            color: #ffffff;
                            display: block;
                            text-indent: 0;
                            background: $blue url(../images/basket-trolly.png) no-repeat center;
                            background-size: 29px 23px;
                            color: transparent;
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }
}
.tiller-product-note {

    padding: 15px;
    font-family: 'Futura Md BT';
    @media(min-width: 1200px) {
        padding-right: 7%;
        font-size: 22px;
    }
}
.tiller-blueText {
    background-color: #0160b4;
    color: #fff;
    max-width: 692px;
    padding: 8px 15px;
    letter-spacing: 0.05rem;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media(min-width: 1200px) {
        font-size: 21.4px;
        line-height: 25.99px;
    }
}
