.product-category {
    &__blower {
        .category-block {
            .content-block {
                padding: 15px 5px;

                h4 {
                    max-width: 100%;
                    margin: 0;

                    span {
                        display: block;
                        font-size: 19px;
                        font-family: 'Futura Md BT';
                    }
                }
            }
        }
    }
}

//@include
.video-block {
    &__borderTop {
        padding-top: 30px;
        border-top: 3px solid #D4ECFD;

        .image-block {
            position: relative;
            @include breakpoint (sm1){
                margin-bottom: 20px;
            }

            img {
                width: 100%;
            }

            .img-caption {
                position: absolute;
                bottom: 10px;
                color: white;
                text-align: center;
                width: 100%;
                font-size: 18px;
            }
        }

        .red-title {
            font-family: 'Futura Con EB';
        }
    }
}

.section-main-product {
    margin-bottom: 30px;
    padding-top: 10px;

    .main-image {
        position: relative;
        max-width: 444px;


    }

    .main-content {
        @include breakpoint (sm1) {
            margin-top: 20px;
        }

        h2 {
            font-family: 'Futura Md BT';
            font-style: italic;
            margin-bottom: 15px;
            width: 90%;

            sup {
                font-size: 16px;
                top: -0.75em;
            }
        }

        ul {
            margin: 0;
            margin-bottom: 20px;
            padding-left: 23px;

            li {
                font-size: 29px;
                line-height: 1.1;
                color: $dark-blue;
                font-family: 'Futura Md BT';
                margin-bottom: 5px;
            }
        }
    }
}

.bg-title-blue {
    h2 {
        background: #cbe5f9;
        color: $dark-blue;
        padding: 10px 20px;
        font-size: 22px;
        font-family: 'Futura BT Bold';
        line-height: 1;
    }
}

.product__trimmers {
    .row {
        margin: 0 -15px;
    }

    [class*="col-"] {
        padding: 0 15px;
    }

    &__block {
        border: 3px solid #3a79b8;
        margin-top: 10px;

        h3 {
            font-size: 21px;
            padding: 15px 10px;
        }
    }
}

.optional-attachments {
    .category-block {
        h3 {
            span {
                font-family: 'Futura Md BT';
            }
        }

        .inner-block {
            .image-block {
                padding-left: 15px;
                padding-top: 15px;
                img {
                    display: block;
                }
            }
            .description {
                padding: 15px;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;

                p {
                    color: #1f3c88;
                    font-size: 21px;
                    margin: 0;
                    text-align: left;
                    font-family: 'Futura Md BT';

                    line-height: 1.24;
                }
            }

            .pricing {
                left: auto;
                right: 10px;
            }
        }

        .content-block {
            h4 {
                max-width: 100%;
                font-style: italic;
            }

            .add-to-cart {
                max-width: 300px;
                margin: 0 auto;
            }
        }

    }
}
