$white: #ffffff;
$dark-white: #F7F7F7;
$black: #000;
$gray: #3E3E3E;
$blue: #357dbd;
$dark-red: #822535;
$dark-red-1: #a22028;
$red-title: #da3931;
// $dark-blue: #183c8e;
$dark-blue: #203d89;
$light-blue: #215eb0;
$lighten-blue: #137ec0;
$title-color: #1c2770;
$blue-type-1: #347bbd;
$blue-light-title: #007cc3;
$blue-light-text: #027cc1;
$blue-border: #D4ECFD;
$sky-blue: #b3d9ee;
$golden-light-bg: #e7e3ce;
$pricing-bg: #e5d136;
$font-1: 'Futura Book';
// $font-2: 'Futura Book Heavy Italic';
// $font-3: 'Futura Book';
$font-4: 'Futura Hv BT Italic';
// $font-5: 'Futura Hv BT';
$font-6: 'futura_icg_demiregular';
$testimonial-font: 'Adobe Garamond Pro Semi bold Italic';

$vwm: 0.3125vw;
$vwt: 0.13020833333333334vw;
$vw: 0.052083333333333336vw;




$headings : h1 h2 h3 h4 h5 h6;



@each $heading in $headings {
    #{$heading} {}
}
h1, h2, h3 {
color: $blue-light-title;
}

body {
    background: $white;
    font-family: 'Futura Md BT', sans-serif;
    font-family: $font-1,sans-serif;
    // font-weight: 500;
    color: $black;
    -webkit-font-smoothing: antialiased;

    // overflow: hidden;


    &.body-overflow-hidden {
        overflow: hidden;
    }
}
.main-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
    @include breakpoint (sm1) {
        padding: 0;
    }
}
img {
    max-width: 100%;
    height: auto;
}

a {
    transition: all 0.5s;

    &:hover {
        text-decoration: none;
    }
}

.container {
    // max-width: calc(1050px + 30px);
    max-width: 100%;
    padding: 0;
    @include breakpoint (sm1) {
        padding-left: 15px;
        padding-right: 15px;
    }

}

.row {
   margin-left: -5px;
   margin-right: -5px;

    @include breakpoint (md1) {}
}

[class*=col-] {
    padding: 0 5px;

    @include breakpoint (md1) {}
}

.inner-container {
    max-width: 1170px;
    margin: 0 auto;
}

.pt-0 {
    padding-top: 0 !important;
}

b,
strong {
    font-family: 'Futura BT Bold';
}
