body {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $bodyTextColor;
    position: relative;
    margin-bottom: 0!important;
    @media(max-width: 1100px) {
        font-size: 14px;
        line-height: 20px;
    }
    &.body-fix{
        height: 100vh;
        overflow: hidden;
    }
    h2 {
        font-size: 40px;
        line-height: 49px;
        font-weight: normal;
        margin-bottom: 15px;
        color: $primaryColor;
        @media(max-width: 1280px) {
            font-size: 36px;
            line-height: 45px;
        }
        @media(max-width: 1100px) {
            font-size: 32px;
            line-height: 40px;
        }
        @media(max-width: 360px) {
            font-size: 28px;
            line-height: 34px;
        }
    }
    h3 {
        font-size: 26px;
        line-height: 42px;
        font-weight: 500;
        @media(max-width: 1100px) {
            font-size: 22px;
            line-height: 35px;
        }
    }
    h4 {
        font-size: 33px;
        line-height: 38px;
        margin-bottom: 22px;
        @media(max-width: 1100px) {
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 18px;
        }
    }
    h5 {
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        @media(max-width: 1280px) {
            font-size: 18px;
            line-height: 28px;
        }
        @media(max-width: 1100px) {
            font-size: 16px;
            line-height: 25px;
        }
    }
    h6 {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
    }
    .container-lg {
        max-width: 1400px;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .container-md {
        max-width: 1035px;
        width: 100%;
        margin: 0 auto;
    }
    .container-co {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto;
    }
    .container-sm {
        max-width: 840px;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .container-xs {
        max-width: 790px;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .btn-outline {
        background: transparent;
        border: 2px solid $buttonColor;
        border-radius: 4px;
        max-width: 120px;
        width: 100%;
        text-align: center;
        font-size: 10px;
        line-height: 26px;
        font-weight: bold;
        padding: 5px 10px;
        color: $bodyTextColor;
        display: inline-block;
        text-transform: uppercase;
        &:hover,
        &:focus {
            background: $buttonColor;
            color: $white;
            text-decoration: none;
        }
    }
    .btn-outline-primary {
        @extend .btn-outline;
        color: $primaryColor;
        border-color: $primaryColor;
        &:hover,
        &:focus {
            border-color: $buttonColor;
        }
    }
    .btn-outline-secondary {
        @extend .btn-outline;
        color: $buttonSecondaryColor;
        border-color: $buttonSecondaryColor;
        &:hover,
        &:focus {
            border-color: $buttonColor;
        }
    }
    .btn-primary {
        @extend .btn-outline;
        background: $buttonColor;
        color: $white;
        border-color: $white;
        &:hover,
        &:focus {
            background: $secondaryColor;
            border-color: $secondaryColor;
        }
        &.btn-primary-auto {
            max-width: max-content;
        }
    }
    .btn-secondary {
        @extend .btn-outline;
        background: $secondaryColor;
        color: $white;
        border-color: $secondaryColor;
        &:hover,
        &:focus {
            background: $buttonColor;
            border-color: $buttonColor;
        }
        &.btn-secondary-auto {
            max-width: max-content;
        }
    }
    .page-title {
        text-align: center;
    }
    .border-title {
        margin: 25px 0 15px;
        position: relative;
        text-align: center;
        h6 {
            font-size: 15px;
            line-height: 24px;
            font-weight: normal;
            padding: 10px 20px;
            z-index: 1;
            background: $white;
            position: relative;
            display: inline-block;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            height: 1px;
            background: #bbb;
            left: 0;
            right: 0;
        }
    }
    .read-more {
        padding-right: 45px;
        color: $white;
        position: relative;
        &:before {
            content: url('../img/arrow-right-white.png');
            display: block;
            width: 100%;
            position: absolute;
            top: 3px;
            right: -45px;
            transition: 0.2s transform ease-in-out;
        }
        &:hover {
            &:before {
                transform: scale(0.8);
            }
        }
    }
    main {
        margin-top: 110px;
        padding: 0 20px;
        @media (max-width: 1100px) {
            margin-top: 95px;
            padding: 0 15px;
        }
    }
}