.form-section {
    background-color: #880F50;
    padding-bottom: 40px;
    padding-top: 60px;
    margin-bottom: 80px;
    margin-top: 60px;
    .calendly-inline-widget {
        // min-height: 350px;
        // height: 646px;
        iframe {
            // height: 646px;
        }
    }
    .form-content {
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        // margin-bottom: 50px;
        h3 {
            color: #ffffff;
            font-size: 20px;
            line-height: 30px; 
        }
        .btn-green {
            background-color: #BFCE18;
            color: #ffffff;
            border-radius: 5px;
            border: 2px solid #ffffff;
            text-transform: uppercase;
            padding: 9px 26px;
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 30px;
            &:hover {
                background-color: #ffffff;
                color: #BFCE18;
                border: 2px solid #BFCE18;
            }
        }
        a {
            &:not(.btn) {
                color: #ffffff;
            }
        }
    }
}

.contact-btn {
    .btn-green {
        background-color: #BFCE18;
        color: #ffffff;
        border-radius: 5px;
        border: 2px solid #ffffff;
        text-transform: uppercase;
        padding: 9px 26px;
        font-size: 16px;
        line-height: 1.2;
        margin: 15px 0;
        &:hover {
            background-color: #ffffff;
            color: #BFCE18;
            border: 2px solid #BFCE18;
        }
    }
}
.contact-page {
    form {
        input[type="submit"],
        input[type="reset"] {
            background-color: #BFCE18;
            color: #ffffff;
            border-radius: 5px;
            border: 2px solid #ffffff;
            text-transform: uppercase;
            padding: 8px 18px;
            line-height: 1.2; 
        }
    }
}

@media(min-width: 992px) {
    .mobile-contact {
        display: none;
    }
}