.clients {
    padding: 110px 0;
    @media(max-width: 1280px) {
        padding: 90px 0;
    }
    @media(max-width: 1100px) {
        padding: 70px 0;
    }
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    text-align: center;
    &-slider {
        max-width: 780px;
        width: 95%;
        margin: 50px auto 20px;
        @media(max-width: 1280px) {
            margin: 40px auto 10px;
        }
        @media(max-width: 1100px) {
            margin: 30px auto 0;
        }
        @media(max-width: 767px) {
            margin: 20px auto 0;
        }
        &-item {
            text-align: center;
            // width: 320px;
            min-height: 360px;
            height: auto;
            box-sizing: border-box;
            background: $primaryColor;
            color: $white;
            padding: 40px 20px 30px;
            border-radius: 20px;
            p {
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .read-more {
                display: none;
                float: right;
            }
        }
        .slick-prev {
            left: -110px;
            @media(max-width: 1100px) {
                left: -25px;
            }
        }
        .slick-next {
            right: -110px;
            @media(max-width: 1100px) {
                right: -25px;
            }
        }
        .slick-track {
            padding: 70px 0;
            display: flex;
            align-items: center;
            .slick-slide {
                transform: scale(1);
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba($white, 0.5);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                span {
                    display: inline-block;
                    margin : 0 auto 10px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                p {
                    font-size: 14px;
                }
                &.slick-current {
                    transform: scale(1.125);
                    z-index: 2;
                    min-height: 370px;
                    height: auto;
                    @media (max-width: 767px) {
                        transform: scale(1);
                    }
                    &:focus {
                        outline: none;
                    }
                    p {
                        font-size: 15px;
                        @media(max-width: 1100px) {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                    span {
                        width: 67px;
                        height: 67px;
                    }
                    &:before {
                        display: none;
                    }
                    .read-more {
                        display: inline-block;
                        font-size: 12px;
                        &:before {
                            transform: scale(0.9)
                        }
                    }
                }
                // &.slick-active{
                //     &.active-prev {
                //         left: 90px;
                //     }
                //     &.active-next {
                //         right: 90px;
                //     }
                // }
            }
        }
    }
}