.contact {
    margin-top: 20px;
    padding: 110px 0 90px;
    @media(max-width: 1280px) {
        padding: 90px 0;
    }
    @media(max-width: 1100px) {
        padding: 70px 0;
    }
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    .container-co {
        min-height: 400px;
        height: auto;
        background: $primaryColor;
        display: flex;
        align-items: center;
        padding: 0 60px;
        @media(max-width: 1100px) {
            padding: 0 30px 0 60px;
        }
        @media(max-width: 768px) {
            padding: 0 15px 0 30px;
        }
    }
    &-left {
        h2 {
            color: $white;
            margin-bottom: 0;
            @media(max-width: 768px) {
                text-align: center;
                margin-bottom: 25px;
            }
        }
    }
    &-right {
        color: $white;
        text-align: center;
        .btn-primary {
            border-color: $buttonColor;
        }
    }
}
.contact-page {
    padding: 70px 0;
    @media(max-width: 1280px) {
        padding: 60px 0;
    }
    @media(max-width: 1100px) {
        padding: 50px 0;
    }
    @media(max-width: 767px) {
        padding: 40px 0;
    }
    .container {
        max-width: 685px;
        width: 100%;
        margin: 0 auto;
    }
    .page-title {
        h2 {
            margin-bottom: 0;
        }
    }
    form {
        color: $bodyTextColor;
        tr {
            margin-bottom: 35px;
            display: block;
            @media(max-width: 1100px) {
                margin-bottom: 25px;
            }
            td {
                width: 100%!important;
                display: block;
                font-family: 'Montserrat'!important;
                font-weight: 700;
                line-height: 30px;
                color: $bodyTextColor!important;
                font-size: 18px!important;
                @media(max-width: 1100px) {
                    font-size: 16px!important;
                }
                strong {
                    font-weight: 500;
                    font-size: 16px!important;
                    @media(max-width: 1100px) {
                        font-size: 14px!important;
                    }
                }
                input {
                    width: 100%;
                    padding: 12px 15px;
                    font-weight: 500;
                    @media(max-width: 1100px) {
                        padding: 10px 12px;
                    }
                }
                input[type=submit], input[type=reset] {
                    width: auto;
                }
                input[type=submit] {
                    background: $bodyTextColor;
                    color: $white!important;
                    border-color: $bodyTextColor;
                    border-radius: 4px;
                    max-width: 120px;
                    width: 100%;
                    text-align: center;
                    font-size: 10px;
                    line-height: 26px;
                    font-weight: bold;
                    padding: 5px 10px;
                    display: inline-block;
                    text-transform: uppercase;
                    &:hover,
                    &:focus {
                        background: $buttonColor;
                        border-color: $buttonColor;
                    }
                }
                input[type=reset] {
                    background: $buttonColor;
                    color: $white!important;
                    border-color: $buttonColor;
                    border-radius: 4px;
                    max-width: 120px;
                    width: 100%;
                    text-align: center;
                    font-size: 10px;
                    line-height: 26px;
                    font-weight: bold;
                    padding: 5px 10px;
                    display: inline-block;
                    text-transform: uppercase;
                    &:hover,
                    &:focus {
                        background: $secondaryColor;
                        border-color: $secondaryColor;
                    }
                }
            }
        }
    }
}