.thank-you {
    text-align: center;
    padding: 70px 0;
    height: 62vh;
    display: flex;
    align-items: center;
    @media(max-width: 1280px) {
        padding: 60px 0;
    }
    @media(max-width: 1100px) {
        padding: 50px 0;
    }
    @media(max-width: 767px) {
        padding: 40px 0;
        height: auto;
    }
    &-content {
        background-color: $textBgColor;
        padding: 90px 0;
        @media(max-width: 1280px) {
            padding: 70px 0;
        }
        @media(max-width: 1100px) {
            padding: 50px 0;
        }
        @media(max-width: 767px) {
            padding: 40px 0;
        }
        h2 {
            font-weight: 500;
            margin-bottom: 30px;
            @media(max-width: 1100px) {
                margin-bottom: 25px;
            }
        }
        h4 {
            margin-bottom: 25px;
            @media(max-width: 1100px) {
                margin-bottom: 20px;
            }
        }
    }
}

.error-page {
    background: rgba($secondaryColor, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58vh;
    @media(max-width: 767px) {
        height: auto;
    }
    .error-block {
        padding: 100px 20px;
        text-align: center;
        @media(max-width: 767px) {
            padding: 70px 20px;
            height: auto;
        }
        h3 {
            margin-bottom: 30px;
        }
        .btn-primary{
            display: inline-block;
            cursor: pointer;
            margin-top: 30px;
        }
    }
}

#main-slider {
    .slick-dots {
        position: absolute;
        bottom: 20px;
        @media (max-width: 991px) {
            bottom: 10px;
        }
        li {
            button {
                &:before {
                    color: #fff;
                    opacity: 1;
                }
            }
            &.slick-active,
            &:hover {
                button {
                    &:before {
                        color: #880f50;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.services-top-description {
    text-align: left;
     ul {
         padding-left: 30px;
         li {
             list-style: disc;
         }
     }
}

.core {
    .page-title {
        margin: 40px 0;
        padding-top: 20px;
    }
}
