.inner-banner {
  min-height: 250px;
  background-size: cover;
  background-color: #ccc;
}
.blue-intro {
  padding: 20px;
  // margin-bottom: 30px;
  position: relative;
  margin-top: -125px;
  text-align: center;
  background: #272381;
  max-width: 1204px;
  margin-left: auto;
  margin-right: auto;
  h2 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 13px;
  }
  p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }
  a {
  }
}

.top-intro {
  text-align: center;
  margin-bottom: 23px;
  padding-top: 30px;
  padding-bottom: 50px;
  h2 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 40px;
    color: #272381;
  }
  p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000;
    max-width: 840px;
    margin: 0 auto;
    b {
      font-weight: 700;
    }
  }
  .info-green {
    margin-top: 30px;
    margin-bottom: 26px;
    min-height: 58px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    color: #fff;
    background: #bfce18;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 1204px;
  }
}

.blue-box-title {
  margin-top: 44px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding: 18px;
  background: #272381;
  margin-bottom: 17px;
  line-height: 1;
}

.whats-involved {
  // margin-bottom: 80px;
  margin-bottom: 20px;
  .container-fluid {
    padding: 0;
    .row {
      margin-right: -6px;
      margin-left: -6px;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .involved-left {
    height: 100%;
    background-size: cover;
    width: 100%;
  }
  .involved-right {
    .info-red {
      background: #880f50;
      border-radius: 16px;
      margin-bottom: 8px;
      padding: 24px 16px;
      &:last-child {
        margin-bottom: 0;
      }
      .title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        color: #fff;
      }
      p {
        font-family: Arial;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: -0.01em;
        line-height: 24px;
        text-align: left;
        color: #fff;

        b {
          font-weight: 700;
        }
      }
    }
  }
}

.sounds {
  background: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  .title {
    margin-bottom: 38px;
  }
  .content {
    h3 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #000;
    }
    p {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #000;
    }
  }
  .title {
    h2 {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 40px;
      color: #272381;
    }
    p {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #000;
    }
  }
  .sounds-grid-item {
    img {
      height: 135px;
      object-fit: contain;
      margin-bottom: 28px;
      max-width: 159px;
    }
  }
}


.book-form {
  background-size: cover;
  padding: 108px 30px 73px 30px;
  margin: 20px 0;
  #field_1_5 {
    padding-top: 8px;
}
#gform_submit_button_1 {
  min-width: 120px;
}
  .blue-block-left{
    .btn-outline-primary{
      font-size: 16px;
    }
  }
  .blue-block-left h2 {
    color: #fff;
    max-width: 292px;
    font-size: 36px;
    line-height: 44px;
  }
  .blue-block-right {
    max-width: 327px;
  }
  .gform_wrapper .top_label .gfield_label {
    font-family: Arial;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    color: #fff;
  }
  .gform_wrapper .top_label input.medium,
  .gform_wrapper .top_label select.medium {
    width: 100%;
  }
  .gform_wrapper textarea.medium,
  .gform_wrapper .top_label input.medium {
    height: 48px;
    border-radius: 4px;
  }
  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer input[type="submit"] {
    @extend .btn-outline-primary;
    color: #fff !important;
    border-color: #bfce18 !important;
  }
  .btn-outline-primary {
    min-width: 197px;
  }
  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
    margin-top: 8px;
  }
  li#field_1_3,
  li#field_1_4 {
    width: calc(50% - 4px);
    clear: none;
    float: left;
  }
  li#field_1_4 {
    position: relative;
    left: 8px;
  }
  .gform_wrapper div.validation_error {
    border: 0;
    color: red;
}


.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    border: 0;
    color: red;
    background-color: transparent;
}

.gform_wrapper .validation_message {
    color: red;
}

.gform_wrapper .field_description_below .gfield_description {
    padding-top: 0;
}

.gform_wrapper.gform_validation_error .top_label input.medium, .gform_wrapper.gform_validation_error .top_label select.medium {
    width: 100%;
}

  .blue-block {
    padding-top: 108px;
    padding-bottom: 73px;
    display: flex;
    background: #272381;
    filter: drop-shadow(0px 20px 40px rgba(38, 153, 251, 0.2));
    align-items: center;
    padding: 36px 68px;
    max-width: 850px;
    margin: 0 auto;
    justify-content: space-between;
    &-left {
      h2 {
        color: #fff;
      }
      a.btn-outline-primary {
        color: #fff;
        border-color: #bfce18;
      }
    }
  }
}

.sample {
  text-align: center;
  .top-sample {
    margin-bottom: 15px;
    img {
      margin-bottom: 13px;
    }
    a {
      display: flex;
      flex-direction: column;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #000;
    }
  }
  .sample-content {
    margin-bottom: 30px;
  }
  p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000;
    max-width: 816px;
  margin: 0 auto;
  }
  .bottom-sample {
    display: flex;
    justify-content: center;
    img {
      margin-bottom: 13px;
    }
    .icons {
      &:first-child {
        margin-right: 57px;
      }
      a {
        display: flex;
        flex-direction: column;
        font-family: "Helvetica Neue";
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #707070;
        text-align: left;
      }
    }
  }
}

.core {
  background: #F8F8F8;
  margin-bottom: 20px;
  padding-bottom: 45px;
  .blue-box-title{
    margin-bottom: 50px;
  }
  @media (min-width:992px){
    .row{
      margin-left: -36px;
      margin-right: -5px;
    //   .col-lg-8 {
    //     flex: 0 0 79.66667%;
    //     max-width: 79.66667%;
    //   }
    //   .col-lg-4 {
    //     flex: 0 0 20.333%;
    //     max-width: 20.333%;
    // }
      .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
  .core-left {
    border-right: 1px solid #707070;
    padding-right: 15px;
    img {
      margin-bottom: 34px;
    }
    .content {
      margin-bottom: 50px;
      p {
        font-family: Montserrat;
        font-size: 18px;
        line-height: 20px;
        text-align: left;
        color: #000;
        margin-bottom: 16px;
        &:not(:first-child){
          font-size: 16px;
        }
        b {
          font-weight: 700;
        }
        i {
          font-weight: 700;
          font-style: italic;
        }
      }
    }
    .title {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-align: left;
      color: #272381;
      margin-bottom: 25px;
    }
  }
  .core-icon {
    margin-bottom: 40px;
    text-align: center;
    img {
      margin-bottom: 13px;
    }
    h3,
    p {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      color: #000;
    }
    p {
      font-weight: 400;
    }
  }
  .core-right {
    h3 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-align: left;
      color: #272381;
      margin-bottom: 26px;
    }
    p {
      font-family: Montserrat;
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      color: #000;
      margin-bottom: 16px;
      b {
        font-weight: 700;
      }
    }
    h4 {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      margin-top: 20px;
      color: #000000;
    }
  }
}

.partners{
  .btn-outline{
    max-width: unset;
    width: auto;
    margin-top: 60px;
  }
}

.gform_confirmation_message {
  color: #fff;
  font-size: 16px;
}

@media (max-width: 992px) {
  .sounds-grid-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
    .book-form .blue-block {
        flex-wrap: wrap;
        .blue-block-left,
        .blue-block-right{
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
  .blue-intro h2,
  .top-intro h2,
  .blue-box-title,
  .book-form .blue-block-left h2,
  .blue-box-title {
    font-size: 35px;
  }
  .whats-involved {
    margin-bottom: 30px;
  }
  .book-form .blue-block {
    padding: 20px;
  }
  .book-form li#field_1_3, .book-form li#field_1_4 {
    width: 100%;
    left: 0;
    }
}


// Header / Footer Update
.promo-header{
  display: none;
}
.page-template-template-landing{
  .container-xs {
   opacity: 0;
   pointer-events: none;
  }
  .header-nav{
    display: none;
  }
  .promo-header{
    display: block;
    a {
      border: 2px solid #BFCE18;
      color: #272381;
      width: 197px;
      max-width: 197px;
      font-size: 16px;
      color: #3C3C3D;
    }
  }
  header .navbar.main-nav {
    justify-content: center;
    max-width: 1204px;
    margin: 0 auto;
  }
  .promo-header {
    position: absolute;
    right: 0;
    @media (max-width:560px){
      position: relative;
    }
  }
  footer .footer-top {
    // max-height: 190px;
}
}

.top-intro {
  margin-bottom: 0;
  padding-bottom: 18px;
}
.top-intro p:last-child {
  margin-top: 45px;
}
.core .core-icon h3 {
  line-height: 1;
  margin-bottom: 3px;
}
.core-right {
  padding-left: 22px;
}
.partners .btn-outline {
  color: #272381;
  font-size: 16px;
  width: 299px;
}

.gray-bg,
.top-intro{
  background: #F8F8F8;
}
.top-intro {
  padding-bottom: 45px;
}
.top-intro p:last-child{
  margin-top: 30px;
}
@media (max-width:768px){
  .book-form .blue-block-right {
    max-width: 100%;
}
}


.book-form{
  table {
    background-color: transparent !important;
}

table td {
    color: #fff !important;
    font-family: Arial;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    color: #fff;
    }

    table tr td:nth-child(3) {
        display: none;
    }

    table input[type="text"] {
        height: 48px;
        font-size: 16px;
        padding-left: 8px;
    }
    table tr:first-child td {
      display: none;
  }
    table tr:last-child td input:last-child {
      display: none;
  }
    table tr:last-child td input {
      @extend .btn-outline-primary;
      color: #fff !important;
      border-color: #bfce18 !important;
  }

}

.book-form .blue-block-right {
  max-width: 100%;
  width: 55%;
}

.book-form .blue-block {
  padding: 48px 35px;
}

.blue-block-left {
  width: 45%;
}

.blue-block form {
  display: flex;
}

@media (max-width:512px){
  .blue-block-left {
    margin-bottom: 40px;
}
}
