footer {
    margin-top: 20px;
    position: relative;
    a {
        color: $white;
        &:hover,
        &:focus {
            color : $white;
        }
    }
    .anchor-top {
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 9;
    }
    .footer-top {
        background: $primaryColor;
        color: $white;
        padding: 40px 0;
        font-weight: bold;
        line-height: 26px;
        text-transform: capitalize;
        @media (max-width: 1100px) {
            padding: 30px 0;
        }
        @media (max-width: 767px) {
            padding: 30px 20px;
        }
        .container-xs {
            max-width: 620px;
        }
        &-block {
            margin-top: 15px;
            ul {
                li {
                    a {
                        font-weight: bold;
                        line-height: 26px;
                        text-transform: capitalize;
                        &:visited {
                            color: $white;
                        }
                    }
                }
            }
            p {
                font-weight: bold;
            }
        }
    }
    .footer-bottom {
        background: $footerCopyColor;
        color: $white;
        padding: 14px 0;
        .container-lg {
            padding: 0 6px;
        }
        &-copy {
            font-size: 10px;
            line-height: 20px;
        }
        &-social {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                li {
                    margin-left: 30px;
                    a {

                    }
                }
            }
        }
    }
}