header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background: $white;

    .container {
        &.container-lg {
            padding: 0;
        }
    }

    .navbar {
        &.main-nav {
            justify-content: space-between;
            padding: 21px 0 21px 25px;

            @media(max-width: 1100px) {
                padding: 15px 0;
            }

            @media(max-width: 991px) {
                padding: 10px 0;
            }

            .row {
                width: 100%;
            }

            .header-logo {
                a {
                    &.navbar-brand {
                        width: 100%;
                        display: block;
                        text-align: left;
                    }
                }
            }

            .header-nav {
                width: 100%;

                @media (max-width: 991px) {
                    width: auto;
                }

                .hamburger-icon {
                    background: transparent;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: 0.2s all ease-in;
                    display: none;

                    @media(max-width: 991px) {
                        display: block;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        outline: none;
                    }

                    span {
                        background-color: $primaryColor;
                        width: 25px;
                        height: 3px;
                        display: block;
                        transition: all 0.3s ease-in-out;
                        margin-bottom: 5px;
                        position: relative;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &.close-icon {
                        span {
                            &:nth-child(1) {
                                transform: rotate(45deg);
                                margin-top: 0;
                            }

                            &:nth-child(2) {
                                opacity: 0;
                            }

                            &:nth-child(3) {
                                transform: rotate(-45deg);
                                margin-top: -16px;
                            }
                        }
                    }
                }

                .navbar-collapse {
                    width: 100%;
                    flex-grow: initial;

                    @media(max-width: 991px) {
                        position: absolute;
                        top: 90px;
                        background: $white;
                        z-index: 9;
                        width: 100vw;
                        height: calc(100vh - 90px);
                        left: -10px;
                        padding: 20px;
                        overflow-y: auto;
                    }

                    .navbar-nav {
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                         @media(max-width: 991px) {
                             padding-bottom: 30px;
                         }

                        li {
                            @media(max-width: 991px) {
                                width: 100%;
                                padding-right: 20px;
                            }

                            @media(max-width: 828px) {
                                padding-right: 10px;
                            }

                            @media(max-width: 575px) {
                                padding-right: 0;
                            }

                            &.nav-item {
                                a {
                                    &.nav-link {
                                        font-size: 16px;
                                        line-height: 24px;
                                        font-weight: bold;
                                        padding: 10px 23px;
                                        color: $bodyTextColor;
                                        text-transform: uppercase;

                                        @media(max-width: 1366px) {
                                            padding: 8px 15px;
                                        }

                                        @media(max-width: 991px) {
                                            font-size: 18px;
                                            line-height: 32px;
                                            padding: 20px 10px;
                                            border-bottom: 1px solid;
                                        }

                                        &:hover,
                                        &:focus {
                                            color: $buttonColor;
                                        }
                                    }
                                }

                                &.active {
                                    a {
                                        &.nav-link {
                                            color: $buttonColor;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-outline {
                        @media(max-width: 991px) {
                            margin: 25px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}

// submenu
.navbar {
    .navbar-nav {
        li {
            &.menu-item-has-children {
                position: relative;

                .drop-toggler {
                    height: 30px;
                    width: 30px;
                    display: block;
                    position: absolute;
                    right: 0;
                    z-index: 100;
                    cursor: pointer;
                    text-align: center;
                    line-height: 30px;
                    top: 22px;

                    @media (min-width: 992px) {
                        display: none;
                    }
                }

                .sub-menu {
                    transition: visibility 0.5s, transform 1s, opacity 0.5s;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    margin: 0;
                    background: #880f50;

                    @media (min-width: 992px) {
                        position: absolute;
                        visibility: hidden;
                        transform: translateY(30px);
                        opacity: 0;
                        min-width: 225px;

                    }

                    @media (max-width: 991px) {
                        display: none;
                    }

                    li {
                        &.menu-item {
                            .nav-link {
                                font-size: 13px !important;
                                font-weight: 700 !important;
                                text-transform: none !important;
                                color: #fff !important;
                                background: #880F50;
                                padding-top: 5px !important;
                                padding-bottom: 9px !important;
                                line-height: 16px !important;
                                transition: all 0.5s;

                                &:hover {
                                    background: #A83472;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    >a {
                        &.nav-link {
                            color: #fff !important;
                            background: #880F50 !important;
                        }
                    }

                    .drop-toggler {
                        color: #fff;
                    }

                    .sub-menu {
                        @media (min-width:992px) {
                            visibility: visible;
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.navbar .navbar-nav a.btn-outline {
    font-size: 16px;
    min-width: 150px;
    @media (min-width: 992px) {
        margin-left: 20px;
    }
}

