.imageL-formR {
    padding: 70px 0;
    @media(max-width: 1100px) {
        padding: 60px 0;
    }
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    .page-title {
        margin-bottom: 50px;
        @media(max-width: 1100px) {
            margin-bottom: 30px;
        }
    }
    h3 {
        margin-bottom: 25px;
        @media(max-width: 1100px) {
            margin-bottom: 20px;
        }
    }
    .imageL {
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
        h3 {
            a {
                color: $buttonColor;
            }
        }
        img {
            width: 100%;
        }
    }
}
.purple-banner {
    margin-bottom: 20px;
    &-content {
        background: $secondaryColor;
        padding: 25px 35px;
        color: $white;
        font-size: 20px;
        line-height: 30px;
        font-weight: normal;
        @media(max-width: 1280px) {
            padding: 20px 30px;
            font-size: 18px;
            line-height: 28px;
        }
        ul {
            margin-left: 20px;
            li {
                list-style-type: disc;
            }
        }
    }
}
.editor-block {
    padding: 70px 0;
    @media(max-width: 1100px) {
        padding: 60px 0;
    }
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    &.grey {
        background: $textBgColor;
    }
    .page-title {
        margin-bottom: 25px;
        @media(max-width: 1100px) {
            margin-bottom: 20px;
        }
    }
    &-content {
        p {
            margin-bottom: 20px;
            @media(max-width: 1100px) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            margin-left: 25px;
            li {
                list-style-type: disc;
            }
        }
    }
    .buton-block {
        text-align: center;
        margin-top: 30px;
        @media(max-width: 1100px) {
            margin-bottom: 20px;
        }
    }
}
.buton-block {
    text-align: center;
    margin: 30px 0;
    @media(max-width: 1100px) {
        margin: 20px 0;
    }
}
.editor-content-row {
    padding-top: 70px;
    @media(max-width: 1100px) {
        padding-top: 60px;
    }
    @media(max-width: 767px) {
        padding-top: 50px;
    }
    .row {
        margin: 40px 0;
        @media(max-width: 767px) {
            margin: 30px 0;
        }
    }
    &-left {
        @media(max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &-right {
        p {
            margin-bottom: 20px;
            @media(max-width: 1100px) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            margin-left: 25px;
            li {
                list-style-type: disc;
            }
        }
    }
}