.logo-slider {
    padding: 35px 0 85px;
    text-align: center;
    @media(max-width: 1280px){
        padding: 35px 0 65px;
    }
    @media(max-width: 1100px){
        padding: 25px 0 45px;
    }
    &-wrapper {
        margin: 45px auto 0;
        max-width: 625px;
        width: 100%;
        @media(max-width: 1280px){
            margin: 25px auto 0;
        }
        .logo-slide {
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            img {
                margin: 0 auto;
                max-width: 140px;
                width: 100%;
                max-height: 60px;
                height: auto;
            }
        }
    }
}