.news {
    padding: 65px 0;
    @media (max-width: 1100px) {
        padding: 55px 0;
    }
    @media (max-width: 767px) {
        padding: 45px 0;
    }
    .container-lg {
        width: 100%;
    }
    .page-title {
        margin-bottom: 75px;
        @media (max-width: 1100px) {
            margin-bottom: 55px;
        }
        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
    }
    &-list {
        &-item {
            display: flex;
            flex-wrap: wrap;
            margin: 30px 0;
            @media (max-width: 1100px) {
                margin: 25px 0;
            }
            &-image {
                flex-basis: 46%;
                @media (max-width: 1100px) {
                    flex-basis: 100%;
                }
                img {
                    max-width: 475px;
                    width: 100%;
                    -webkit-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.25);
                    box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.25);
                }
            }
            &-content {
                flex-basis: 54%;
                padding: 5px 5px 5px 25px;
                @media (max-width: 1100px) {
                    padding: 5px 0;
                    flex-basis: 100%;
                }
                h3 {
                    margin-bottom: 15px;
                    a {
                        color: $bodyTextColor;
                    }
                }
                p {
                    font-style: italic;
                    color: $newsTextColor;
                    line-height: 26px;
                }
            }
            &.no-image {
                .news-list-item-content {
                    flex-basis: 100%;
                }
            }
        }
    }
    &-pagination {
        .pagination {
            justify-content: center;
            li {
                margin: 2px;
                a {
                    border: 1px solid #b5b5b5;
                    border-radius: 0;
                    padding: 5px 10px;
                    color: #dd3333;
                    &.active {
                        color: $bodyTextColor;
                    }
                }
                &:first-child, 
                &:last-child {
                    a {
                        border-radius: 0;
                    }
                }
                &.active {
                    a {
                        color: $bodyTextColor;
                    }
                }
            }
        }
    }
    &-sidebar {
        padding-top: 15px;
        .news-search {
            form {
                .form-group {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #bbb;
                    border-radius: 3px;
                    @media (max-width: 360px) {
                        flex-wrap: wrap;
                    }
                    input {
                        border: 0;
                        padding: 6px 10px;
                        color: $defaultColor;
                        font-size: 15px;
                        font-weight: 700;
                        border-radius: 3px;
                        &:focus {
                            outline: none;
                        }
                        &::placeholder {
                            color: #bbb;
                        }
                        &.btn-outline-secondary {
                            border: 1px solid $buttonSecondaryColor;
                            color: $buttonSecondaryColor;
                            width: 90px;
                            margin: 1px;
                            font-size: 10px;
                            @media (max-width: 360px) {
                                max-width: 100%;
                                width: 100%;
                            }
                            &:hover,
                            &:focus {
                                color: $white;
                                border-color: $buttonColor;
                            }
                        }
                    }
                    .btn-outline-secondary {
                        border-width: 1px;
                        width: 90px;
                        margin: 1px;
                        @media (max-width: 360px) {
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .recent-posts {
            &-item {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 12px;
                .post-thumbnail {
                    margin: 0 10px 8px 0;
                    flex-basis: 24%;
                    img {
                        width: 80px;
                        height: 60px;
                        object-fit: cover;
                    }
                }
                .post-content {
                    flex-basis: 72%;
                    .post-title {
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 500;
                        margin-bottom: 5px;
                        @media (max-width: 1100px) {
                            font-size: 14px;
                        }
                        a {
                            color: $bodyTextColor;
                        }
                    }
                    .post-date {
                        opacity: 0.9;
                        padding-right: 8px;
                        font-size: 13px;
                        font-weight: 300;
                        font-style: italic;
                        span {
                            &:last-child {
                                padding-left: 10px;
                            }
                        }
                        svg {
                            width: 1em;
                            margin-left: 5px;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.search-result-banner {
    background: $textBgColor;
    padding: 30px 0;
    @media (max-width: 1100px) {
        padding: 15px 0;
    }
}

.news-single {
    padding: 65px 0;
    @media (max-width: 1100px) {
        padding: 55px 0;
    }
    @media (max-width: 767px) {
        padding: 45px 0;
    }
    &-content {
        h2 {
            margin-bottom: 25px;
            @media (max-width: 1100px) {
                margin-bottom: 20px;
            }
        }
        img {
            margin-bottom: 25px;
            @media (max-width: 1100px) {
                margin-bottom: 20px;
            }
        }
        p {
            margin-bottom: 25px;
            @media (max-width: 1100px) {
                margin-bottom: 20px;
            }
        }
    }
}