.packages {
    background: $textBgColor;
    padding: 35px 0 40px;
    text-align: center;
    @media (max-width: 1100px) {
        padding: 35px 0;
    }
    @media (max-width: 575px) {
        padding: 35px 10px;
    }
    .container-xs {
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 2px;
            height: 98%;
            background: $white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &-block {
        margin: 60px 3px 30px;
        background: $primaryColor;
        color: $white;
        border-radius: 16px;
        padding: 0 0 55px;
        -webkit-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.25);
        box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.25);
        @media(max-width: 1100px) {
            padding-bottom: 40px;
        }
        @media(max-width: 575px) {
            margin: 30px 0;
        }
        &-secondary {
            background: $secondaryColor;
        }
        img {
            margin-top: -26px;
        }
        h5 {
            font-weight: bold;
            margin: 5px 0;
            a {
                color: $white;
            }
        }
    }
    &-btn {
        margin-top: 5px;
        .btn-primary {
            max-width: 180px;
        }
    }
}