.partners {
    background: $textBgColor;
    padding: 65px 0 75px;
    text-align: center;
    @media(max-width: 1100px) {
        padding: 60px 0;
    }
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    h2 {
        margin-bottom: 0;
    }
    &-block {
        padding: 0 40px;
        margin-top: 70px;
        @media(max-width: 1100px) {
            padding: 0 30px;
            margin-top: 60px;
        }
        @media(max-width: 767px) {
            padding: 0 15px;
            margin-top: 50px;
        }
        h5 {
            margin-top: 10px;
        }
        h6 {
            text-transform: uppercase;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .container {
        padding: 0;
    }
}