.services-top {
    margin-bottom: 25px;
    .page-title {
        padding: 65px 0 35px;
        @media (max-width: 1100px) {
            padding: 55px 0 35px;
        }
        @media (max-width: 767px) {
            padding: 45px 0 35px;
        }
    }
    &-description {
        text-align: center;
        h5 {
            margin-bottom: 25px;
            text-transform: capitalize;
        }
        p {
            margin-bottom: 15px;
            &:last-child {
                    margin-bottom: 0;
            }     
        }
    }
}
.services-mid {
    margin-top: 20px;
    text-align: center;
    .container-md {
        padding: 0;
    }
    &-content {
        h5 {
            margin-bottom: 25px;
            text-transform: capitalize;
        }
        &-wrapper {
            background: $textBgColor;
            padding: 45px 15px 20px;
            .services-mid-block {
                padding: 0 5px 55px;
                @media (max-width: 1100px) {
                    padding: 0 5px 35px;
                }
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 100%;
                    background: $white;
                    position: absolute;
                    top: 0;
                    right: -15px;
                }
                img {
                    margin-bottom: 50px;
                    @media (max-width: 1100px) {
                        margin-bottom: 35px;
                    }
                }
                h6 {
                    margin-bottom: 10px;
                }
            }
            .service-contact-btn {
                .btn-primary {
                    max-width: 180px;
                }
            }
        }
    }
}
.services-bottom {
    margin: 25px 0 105px;
    text-align: center;
    .container-md {
        padding: 0;
    }
    &-video {
        margin-top: 25px;
        .row {
            margin-left: -5px;
            margin-right: -5px;
            .col-md-4 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .services-video-block {
            position: relative; 
            padding-bottom: 56.25%; 
            height: 0; 
            overflow: hidden; 
            max-width: 100%; 
            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
            iframe,
            object,
            embed {
                position: absolute; 
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%;
            }
        }
    }
}
.services-quote {
    text-align: center;
    .services-top-description {
        color:#800080;
        font-size: 24px;
        line-height: 32px;
        font-style:italic;
        margin: 40px 0 60px;
    }
}