.team-detail {
    padding: 135px 0;
    @media (max-width: 1100px) {
        padding: 80px 0;
    }
    .container-team {
        max-width: 1050px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }
    &-left {
        flex-basis: 28%;
        margin-right: -50px;
        position: relative;
        @media (max-width: 575px) {
            flex-basis: 100%;
            margin-right: 0;
            text-align: center;
            margin-bottom: 25px;
        }
    }
    &-right {
        flex-basis: 78%;
        padding: 50px 65px 90px;
        background: $textBgColor;
        @media (max-width: 1100px) {
            padding: 50px 55px 70px;
        }
        @media (max-width: 575px) {
            flex-basis: 100%;
            padding: 40px;
        }
        .team-intro {

        }
        .team-social {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 20px;
            @media (max-width: 1100px) {
                margin: 0 0 10px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                @media (max-width: 575px) {
                    margin: 15px 0;
                }
                li {
                    margin-right: 30px;
                    a {
                        svg {
                            width: 16px;
                        }
                        &:hover,
                        &:focus {
                            svg {
                                g {
                                    path {
                                        fill: $secondaryColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .team-content {
            h5 {
                margin-bottom: 25px;
                @media (max-width: 1100px) {
                    margin-bottom: 20;
                }
            }
            p {
                line-height: 30px;
                margin-bottom: 25px;
                @media (max-width: 1100px) {
                    line-height: 25px;
                    margin-bottom: 20;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}