.testimonial {
    padding-top: 50px;
    @media (max-width: 1100px) {
        padding-top: 30px;
    }
    &-content {
        background: $textBgColor;
        padding: 50px 0 200px;
        @media (max-width: 1100px) {
            padding: 50px 0;
        }
        .container {
            max-width: 1205px;
            width: 95%;
        }
        &-slider {
            margin: 100px 0;
            @media (max-width: 1100px) {
                margin: 50px 0;
            }
            .testimonial-item {
                padding: 0 65px;
                @media (max-width: 1280px) {
                    padding: 0 40px;
                }
                @media (max-width: 1100px) {
                    padding: 0 20px;
                }
                @media (max-width: 575px) {
                    padding: 0;
                }
                &-left {
                    background: $primaryColor;
                    color: $white;
                    margin-right: 55px;
                    text-align: center;
                    border-radius: 20px;
                    padding: 55px 70px 80px;
                    position: relative;
                    @media (max-width: 1280px) {
                        padding: 45px 60px;
                        margin-right: 35px;
                    }
                    @media (max-width: 1100px) {
                        padding: 30px 50px;
                    }
                    @media (max-width: 992px) {
                        margin-right: 0;
                        padding: 30px;
                    }
                    @media (max-width: 767px) {
                        margin-bottom: 25px;
                    }
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $white;
                        width: 186px;
                        height: 186px;
                        margin: 0 auto;
                        border-radius: 50%;
                        img {
                            
                        }
                    }
                    p {
                        margin: 20px 0;
                        font-weight: bold;
                    }
                    .slick-dots {
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                        li {
                            margin: 0;
                            width: 16px;
                            height: 16px;
                            button {
                                &:before {
                                    color: $white;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                &-right {
                    h2 {
                        color: $bodyTextColor;
                        margin-bottom: 25px;
                        @media (max-width: 1100px) {
                            margin-bottom: 20px;
                        }
                    }
                    svg {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}