.text-video {
    padding: 60px 0;

    .text-block {
        margin: 50px 0;
        max-width: 400px;

        h2 {
            font-size: 22px;
            color: #3C3C3D;
            font-weight: 500;
            line-height: 1.5;
        }
    }

    .video-block {
        position: relative;
        overflow: hidden;

        .triger-popup {
            display: block;
        }

        .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#main-slider {
    margin-bottom: 0;
}
