.top-banner {
    height: 700px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 70px;
    @media(max-width: 1100px) {
        padding-bottom: 35px;
    }
    &-content {
        text-align: center;
        color: $white;
        .caption1 {
            background: $primaryColor;
            padding: 30px 35px;
            margin-bottom: 15px;
            @media(max-width: 1100px) {
                padding: 20px;
            }
            h2 {
                color: $white;
            }
            h5 {
                max-width: 635px;
                width: 100%;
                margin: 0 auto;
            }
        }
        .caption2 {
            background: $secondaryColor;
            padding: 10px;
            h5 {
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.02rem;
                span {
                    padding: 0 10px;
                }
            }
        }
        .caption-logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            &-block {
                margin: 25px 0;
            }
        }
        .caption-btn {
            margin-top: 5px;
        }
    }
}
