.footer {
    margin: 20px 0;
    @include breakpoint (md1) {
        margin-bottom: 0;
    }
    &--top {
        background: $dark-blue;
        @include breakpoint (md1) {
            text-align: center;
            padding: 15px 0;
        }
        .abn {
            font-size: 14px;
            padding: 8px;
            color: $white;
            a {
                color: $white;
            }
        }
    }
    &--nav {
        @include breakpoint (md) {
            text-align: right;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                @include breakpoint (xs) {
                    display: block;
                }
                // float: left;
                a {
                    display: block;
                    font-family: $font-6;
                    font-size: 13px;
                    padding: 8px;
                    color: $white;
                    @include breakpoint (xs) {
                       padding: 4px;
                    }
                    @include breakpoint (sm) {
                        @include breakpoint (sm1) {
                            padding: 0 8px;
                            margin: 7px 0;
                            line-height: 1;
                        }
                    }
                }
                &:not(:last-child) {
                    margin-right: -3px;
                    @include breakpoint (xs) {
                        margin: 0;
                    }
                    a {
                        border-right: 1px solid $white;
                        @include breakpoint (xs) {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.card-accepts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
    @include breakpoint (sm1) {
        justify-content: center;
    }
    h4 {
      font-size: 14px;
      margin-right: 5px;
      margin-bottom: 0;
      font-family: $font-1;
    }
}
