.header {
    padding: 15px 0;
    overflow: hidden;
    .logo {
        max-width: 315px;
    }
}
.header-right {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0 -20px;
        padding: 0;
        @include breakpoint (sm) {
            @include breakpoint (sm1) {
                flex-wrap: nowrap;
                margin: 0 -5px;
            }
        }
        li {
            list-style: none;
            display: inline-block;
            padding: 0 20px;
            @include breakpoint (xs) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
             @include breakpoint (sm) {
                 @include breakpoint (sm1) {
                    width: 33.33333%;
                    padding: 0 5px;
                 }
             }
            &:first-child {
               @include breakpoint (xs) {
                   flex: 0 0 60%;
                   max-width: 60%;
                   margin: 15px 0;
               }
            }
             &:nth-child(2) {
                 @include breakpoint (xs) {
                     flex: 0 0 40%;
                     max-width: 40%;
                     margin: 15px 0;
                 }
             }
             &:nth-child(3) {
                 @include breakpoint (sm) {
                     @include breakpoint (sm1) {
                         width: 41%;

                     }
                 }
             }


            &.phone {

                a {
                    color: $blue;
                    font-size: 24px;
                    font-weight: 900;
                    display: flex;
                    align-items: flex-end;
                    line-height: 1;
                    @include breakpoint (sm) {
                        @include breakpoint (sm1) {
                            font-size: 20px;
                        }
                    }

                    img {
                        margin-right: 5px;
                        max-width: 20px;
                    }
                }
            }
            &.australian-mades {
                @include breakpoint (sm) {
                    @include breakpoint (sm1) {
                        text-align: center;
                    }
                }
                img {
                    max-width: 120px;
                }
            }
        }
    }
}

.dealer-login {
    text-align: right;
    margin-bottom: 15px;
    @include breakpoint (xs) {
        margin-right: 10px;
        text-align: center;
        margin-bottom: 0;
        white-space: nowrap;
    }
     a {
         background: $dark-blue;
         color: #fff;
         display: inline-block;
         padding: 10px 15px;
         line-height: 1;
         font-size: 14px;
     }
}

.header-checkout {
    background: $blue;
    border: 2px solid $blue;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
     @include breakpoint (sm) {
         @include breakpoint (sm1) {
             display: flex;
             align-items: center;
         }
     }
    .counter {
        width: 50px;
        display: inline-block;
        // padding-left: 10px;
        padding-right: 5px;
        color: #fff;
        text-align: center;
        position: relative;
        left: 5px;
        &:before {
            content: "";
            width: 33px;
            height: 30px;
            background: url('../images/basket-trolly.png') no-repeat center;
            background-size: 33px 30px;
            position: absolute;
            left: 0;
            top: -3px;
        }

    }
    a {
        color: #28649a;
        background: $sky-blue;
        font-size: 12px;
        display: inline-block;
        font-weight: 800;
        letter-spacing: 0.04rem;
        padding: 10px;
        line-height: 1;
        @include breakpoint (xs) {
            white-space: nowrap;
        }
        &.atom-cart {
            background: #357cbd;
            padding-top: 3px;
            padding-bottom: 0;
        }
    }
}
