.navbar {
    padding: 0;

    .container {
        padding: 0;
        @include breakpoint (sm1) {
            padding: 0 15px;
        }
    }

    &--blue {
        background: $blue !important;
    }
    .navbar-brand {
        color: $white;
        @include breakpoint (md) {
            display: none;
        }
    }

    .navbar-nav {
        li {
            position: relative;

            &.menu-item {
                padding: 6px 0;

                a {
                    font-family: $font-6;
                    font-size: 14px;
                    padding: 0 20px;
                    color: $white;
                    display: block;
                }

                &.current-menu-item,
                &:hover {
                    background: $dark-blue;

                    a {
                        color: $sky-blue;
                    }
                }
            }

            &:hover {
                .sub-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);

                }
            }

        }

        &.nav-left {

            //  opacity: 0.5;
            .menu-item {
                &:not(:last-child) {
                    a {
                        // color: red;
                        border-right: 1px solid #164192;
                        border-right: 1px solid $dark-blue;
                        @include breakpoint (sm1) {
                            border-right: none;
                        }
                    }
                }


            }

            .sub-menu {
                position: absolute;
                padding: 0;
                margin: 0;
                z-index: 10;
                top: 100%;
                visibility: hidden;
                opacity: 0;
                transform: translateY(30px);
                transition: all 0.5s;
                width: 100%;

                li {
                    padding: 0 !important;
                    margin-top: 1px;
                    list-style: none;

                    a {
                        border-right: none !important;
                        border-top: 1px solid transparent;
                        background: $sky-blue;
                        padding: 5px;
                        font-size: 13px;
                        font-weight: 500;
                        font-family: $font-1;
                        text-align: center;
                        color: $dark-blue;

                        &:hover {
                            color: $dark-blue;
                        }
                    }
                }
            }
        }
        &.nav-right {
            li {
                a {
                    &:before {
                        content: '';
                        background: url('../images/pin.png') no-repeat center;
                        height: 18px;
                        width: 18px;
                        display: inline-block;
                        background-size: contain;
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }

}

.navbar-toggler {
    padding: 0;
    outline: none;
    border: none;
    .navbar-toggle-icon {
        height: 2px;
        width: 25px;
        display: block;
        margin: 4px 0;
        background: $white;
    }
}
